.section {
  position: relative;
  padding: 50px 0;

  @include media-breakpoint-up(md) {
    padding: 90px 0;
  }

  &__heading {
    margin-bottom: 40px;
    font-size: 23px;
    font-weight: 700;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-bottom: 80px;
      font-size: 32px;
    }
  }

  .text {
    line-height: 2.3;

    @include media-breakpoint-up(md) {
      text-align: center;
    }
  }

  .button {
    width: 170px;
    height: 50px;
    margin: 30px auto 0;

    @include media-breakpoint-up(md) {
      width: 200px;
      height: 60px;
      margin-top: 60px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 1px solid #222;
      transition: 0.3s;

      @include media-breakpoint-up(md) {
        &:hover {
          background: #fff;
        }
      }
    }
  }
}
