<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>オルラボ｜自分らしく楽しめる暮らしのメディア</title>
  <meta name="description" content="自分らしく楽しめる暮らしを発見できる、オールハウスのオルラボ。住まいと暮らしのヒントになる情報を発信しています。">

  <meta property="og:title" content="オルラボ｜自分らしく楽しめる暮らしのメディア">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:url" content="https://orulab.allhouse.co.jp/">
  <meta property="og:description" content="自分らしく楽しめる暮らしを発見できる、オールハウスのオルラボ。住まいと暮らしのヒントになる情報を発信しています。">
  <meta name="twitter:card" content="summary">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include('/gtm-head') %>

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/privacypolicy/style.css">
</head>

<body>

  <%- include('/gtm-body') %>

  <div class="l-page">

    <!--#include virtual="/assets/includes/header.inc"-->

    <div class="l-content">
      <main class="l-main">
        <section class="section">
          <h1 class="section__heading">PRIVACY POLICY</h1>
          <dl class="policy">
            <div class="policy__section">
              <dd>オールハウス株式会社（以下「当社」といいます。）は、個人情報保護に関する法令を遵守し、個人情報の適正な取扱いを図るため、以下のプライバシーポリシーを実施いたします。</dd>
            </div>
            <div class="policy__section">
              <dt class="policy__title">第１ 個人情報の利用目的</dt>
              <dd>
                お客様の個人情報は、次の利用目的の範囲で取り扱い、他の目的に利用しません。<br>
                １ 次に掲げる当社事業目的の範囲において、取引に係る諸手続の実施、当社が提供する商品・サービスのご紹介、マーケティング活動その他の営業活動を行うため。<br>
                ⑴ 建築事業<br>
                ⑵ 不動産売買事業<br>
                ⑶ 不動産賃貸事業<br>
                ⑷ 不動産管理事業<br>
                ⑸ リフォーム事業<br>
                ⑹ 前各号に附帯関連する事業<br>
                ２ 上記１の当社事業目的に関連して、当社子会社（MILIFEPLUS 株式会社及びクラステック株式会社）の取り扱う商品・サービスのご紹介を行うため。<br>
                ３ 上記１及び２の目的達成に必要な範囲で第三者に提供するため。
              </dd>
            </div>
            <div class="policy__section">
              <dt class="policy__title">第２ 個人データの共同利用</dt>
              <dd>
                お客様の個人データは、次の目的の範囲で共同利用させていただく場合があります。<br>
                １ 上記第１の１の当社事業目的に関し、事業主、販売会社、媒介会社、管理会社等との間で、お客様との取引に係る諸手続を実施するため。<br>
                ⑴ 共同利用する個人データの項目<br>
                氏名、住所、電話番号、メールアドレス、勤務先、家族構成、契約住戸情報<br>
                ⑵ 共同利用する個人データの管理責任者<br>
                当社<br>
                ２ 当社子会社との間で、上記第１の２の利用目的を達成するため。<br>
                ⑴ 共同利用する個人データの項目<br>
                ア 氏名、住所、電話番号、メールアドレス、勤務先、家族構成、契約住戸情報<br>
                イ 年齢、生年月日、資産、負債、収入、支出<br>
                ⑵ 共同利用する個人データの管理責任者<br>
                当社
              </dd>
            </div>
            <div class="policy__section">
              <dt class="policy__title">第３ 個人データの第三者への提供</dt>
              <dd>
                お客様の個人データは、次の場合に第三者に提供・開示する場合があります。<br>
                １ 事業主、販売会社、媒介会社、管理会社、金融機関、司法書士等に対し、上記第１の１及び２の目的達成に必要な範囲で個人データを提供させていただく場合<br>
                ２ お客様の同意がある場合<br>
                ３ 個人情報の保護に関する法律２３条１項各号に掲げる場合
              </dd>
            </div>
            <div class="policy__section">
              <dt class="policy__title">第４ 保有個人データの開示・訂正等</dt>
              <dd>
                当社は、保有個人デ－タの開示、訂正、利用停止等の求めに対し、本人確認の手続を行った上、遅滞なく対応いたします。
              </dd>
            </div>
            <div class="policy__section">
              <dt class="policy__title">第５ 問い合わせ窓口</dt>
              <dd>
                保有個人データの取扱いに関する苦情などは、次の窓口へお申し出ください。<br>
                オールハウス株式会社<br>
                〒735-0012 広島県安芸郡府中町八幡1丁目4-23<br>
                TEL:082-890-1002<br>
                FAX:082-890-1003
              </dd>
            </div>
          </dl>
        </section>
      </main><!-- .l-main -->

      <!--#include virtual="/assets/includes/side.inc.php"-->
    </div><!-- .l-content -->

    <div class="c-bread-crumbs">
      <ul class="bread-crumbs-list">
        <li class="bread-crumbs-list__item"><a href="/">TOP</a></li>
        <li class="bread-crumbs-list__item">ABOUT</li>
      </ul>
    </div>

    <!--#include virtual="/assets/includes/footer.inc"-->

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>

</body>

</html>
