.section {
  position: relative;
  margin-top: 50px;

  @include media-breakpoint-up(md) {
    margin-top: 90px;
  }

  &__heading {
    margin-bottom: 40px;
    font-size: 23px;
    font-weight: 700;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-bottom: 80px;
      font-size: 32px;
    }
  }

  .text {
    line-height: 2.3;

    @include media-breakpoint-up(md) {
      margin: 0 -40px;
      text-align: center;
    }
  }

  .text + .table {
    margin-top: 40px;

    @include media-breakpoint-up(md) {
      margin-top: 60px;
    }
  }

  .table {
    border-spacing: 0;
    border-collapse: collapse;

    th,
    td {
      padding: 1em 0.8em;
      line-height: 1.8;
      border-bottom: 1px solid #707070;
    }

    th {
      width: 7em;
      font-weight: 600;
      text-align: left;
      vertical-align: top;
    }
  }

  .map {
    position: relative;
    width: 100%;

    &::before {
      display: block;
      width: 100%;
      padding-bottom: 57.89%;
      content: '';
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .office-list {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      margin: -90px -40px 0 0;
    }
  }

  .office {
    margin-top: 60px;

    @include media-breakpoint-up(md) {
      width: calc(50% - 40px);
      margin: 90px 40px 0 0;
    }

    &__name {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 600;

      @include media-breakpoint-up(md) {
        margin-bottom: 30px;
        font-size: 24px;
      }

      &::before {
        content: '■';
      }
    }

    .map {
      margin-top: 28px;

      @include media-breakpoint-up(md) {
        &::before {
          padding-bottom: 70%;
        }
      }
    }
  }
}

.section + .section {
  margin-top: 80px;

  @include media-breakpoint-up(md) {
    margin-top: 140px;
  }
}
