.l-header__logo .text {
  font-size: 10px;
  font-weight: 600;
}

.l-header__category {
  .swiper-container {
    overflow: auto;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

.l-main {
  @include media-breakpoint-up(md) {
    margin: 0 auto;
  }
}
