<!doctype html>
<html amp lang="en">
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title><?php echo($MediaEntity->title); ?>｜オルラボ｜自分らしく楽しめる暮らしのメディア</title>
    <link rel="canonical" href="<?php echo (empty($_SERVER['HTTPS']) ? 'http://' : 'https://') . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>"><!-- 対応する記事のurlを設定してください -->
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script type="application/ld+json">
    // "image"で指定した画像は、AMP HTML内のどこかで表示される必要があります。
    // "image"のURL は amp-img で指定した src 属性と一致する必要があります
    // URL は全て絶対 URL で指定します
      {
        "@context": "http://schema.org",
        "@type": "Article",
        "mainEntityOfPage":{
          "@type":"WebPage",
          "@id":"<?php echo (empty($_SERVER['HTTPS']) ? 'http://' : 'https://') . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>" //対応する記事のurlを設定してください
        },
        "headline": "<?php echo($MediaEntity->title); ?>",  //記事タイトル
        "datePublished": "<?php echo $MediaEntity->getOutputDate(DATE_ISO8601); ?>",  //公開日時
        "dateModified": "<?php echo $MediaEntity->getOutputDate(DATE_ISO8601); ?>",  //更新日時
        "description": "<?php echo (isset($MediaEntity->description) && !empty($MediaEntity->description)) ? $MediaEntity->description : "";?>",  //記事概要
        "author": {
          "@type": "Organization",
          "name": "オールハウス株式会社"
        },
        "publisher": {
          "@type": "Organization",
          "name": "オールハウス株式会社",
          "logo": {
            "@type": "ImageObject",
            "url": "https://www.allhouse.co.jp/assets/img/common/logo.png",
            "width": 274,
            "height": 60
          }
        },
        "image": {  //アイキャッチ画像
          "@type": "ImageObject",
          "url": "<?php echo (empty($_SERVER['HTTPS']) ? 'http://' : 'https://') . $_SERVER['HTTP_HOST'] ; ?><?php echo($MediaEntity->getThumbImage()); ?>",
          "height": 2000,
          "width": 800
        }
      }
    </script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async custom-element="amp-facebook-like" src="https://cdn.ampproject.org/v0/amp-facebook-like-0.1.js"></script>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <style amp-custom>
      <%- include('../../dist/assets/styles/pages/amp/style.css').replace(/img/g, 'amp-img').replace('@charset "UTF-8";','').replace(/!important/g,'') %>
    </style>
  </head>
  <body class="page-<?php echo($MediaEntity->getCategoryClass()); ?>">
    <div class="l-page">

      <header class="l-header">
        <div class="l-header__top">
          <p class="l-header__logo">
            <a href="/" class="logo"><amp-img src="/assets/images/pages/common/logo.png" alt="" width="107.5" height="42" layout="fixed"></amp-img></a>
            <span class="text">自分らしい楽しい暮らし</span>
          </p>
        </div><!-- .l-header__top -->

        <div class="l-header__category">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="/house/" class="link">
                  <span class="link__inner">
                    <amp-img src="/assets/images/pages/common/icon_category01.svg" alt="" width="14" height="15" class="link__icon" layout="fixed"></amp-img>
                    <span class="link__text">建てる</span>
                  </span>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="/renovation/" class="link">
                  <span class="link__inner">
                    <amp-img src="/assets/images/pages/common/icon_category02.svg" alt="" width="14" height="15" class="link__icon" layout="fixed"></amp-img>
                    <span class="link__text">リノベする</span>
                  </span>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="/interior/" class="link">
                  <span class="link__inner">
                    <amp-img src="/assets/images/pages/common/icon_category03.svg" alt="" width="18" height="15" class="link__icon" layout="fixed"></amp-img>
                    <span class="link__text">インテリア</span>
                  </span>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="/life/" class="link">
                  <span class="link__inner">
                    <amp-img src="/assets/images/pages/common/icon_category04.svg" alt="" width="18" height="15" class="link__icon" layout="fixed"></amp-img>
                    <span class="link__text">暮らしのQ&A</span>
                  </span>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="/hiroshima/" class="link">
                  <span class="link__inner">
                    <amp-img src="/assets/images/pages/common/icon_category05.svg" alt="" width="20" height="15" class="link__icon" layout="fixed"></amp-img>
                    <span class="link__text">広島の街</span>
                  </span>
                </a>
              </div>
            </div>
            <button class="swiper-button-prev"></button>
            <button class="swiper-button-next"></button>
          </div>
        </div>
      </header>


      <div class="l-content">
        <main class="l-main">
          <article class="article">
            <div class="article__image"><amp-img src="<?php echo($MediaEntity->getThumbImage()); ?>" alt="" width="375" height="203" layout="responsive"></amp-img></div>
            <header class="article__header">
              <p class="date"><?php echo $MediaEntity->getOutputDate('Y.m.d'); ?></p>
              <h1 class="title"><?php echo($MediaEntity->title); ?></h1>
              <div class="grid">
                <p class="category"><?php echo($MediaEntity->getCategoryName()); ?></p>
                <div class="share">
                  <h2 class="share__title">シェア</h2>
                  <p class="button"><a href="https://www.facebook.com/sharer/sharer.php?u=<?php echo (empty($_SERVER['HTTPS']) ? 'http://' : 'https://') . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>" target="_blank"><amp-img src="/assets/images/pages/detail/share_facebook.png" alt="" width="25" height="25" layout="fixed"></amp-img></a></p>
                  <p class="button"><a href="https://twitter.com/intent/tweet?url=<?php echo (empty($_SERVER['HTTPS']) ? 'http://' : 'https://') . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>" target="_blank"><amp-img src="/assets/images/pages/detail/share_twitter.png" alt="" width="25" height="25" layout="fixed"></amp-img></a></p>
                  <p class="button"><a href="https://social-plugins.line.me/lineit/share?url=<?php echo (empty($_SERVER['HTTPS']) ? 'http://' : 'https://') . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>" target="_blank"><amp-img src="/assets/images/pages/detail/share_line.png" alt="" width="25" height="25" layout="fixed"></amp-img></a></p>
                  <amp-facebook-like width="80" height="20" layout="fixed" data-layout="button" data-size="small" data-href="https://orulab.allhouse.co.jp/"></amp-facebook-like>
                </div>
              </div>
              <div class="keyword">
                <h2 class="keyword__title"><amp-img src="/assets/images/pages/detail/keyword_title.svg" alt="" width="122.5" height="22.5" layout="fixed"></amp-img></h2>
                <ul class="tag-list">
                <?php foreach ($MediaEntity->getAllTags() as $tagEntity) : ?>
                  <li class="tag-list__item"><a href="<?php echo $tagEntity->getLink(); ?>">#<?php echo $tagEntity->getName(); ?></a></li>
                <?php endforeach; ?>
                </ul>
              </div>
            </header>

            <?php
            use lacne\service\builder\BuilderOwned;
            $builder = new BuilderOwned();
            $builder->doitAmp( $MediaEntity );
            ?>

<!--
            <section class="section">
              <div class="section__inner">
                <h2 class="heading1">見出しタイトルが入ります</h2>
                <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。</p>
              </div>
              <div class="image"><amp-img src="/assets/images/pages/dummy/dummy02.jpg" alt="" width="325" height="225" layout="responsive"></amp-img></div>
            </section>
            <section class="section section--grid">
              <div class="section__inner">
                <h2 class="heading2">見出しタイトルが入ります</h2>
                <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。</p>
              </div>
              <div class="image"><amp-img src="/assets/images/pages/dummy/dummy03.jpg" alt="" width="325" height="211" layout="responsive"></amp-img></div>
            </section>
            <section class="section section--grid-reverse">
              <div class="section__inner">
                <h2 class="heading2">見出しタイトルが入ります</h2>
                <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。</p>
              </div>
              <div class="image"><amp-img src="/assets/images/pages/dummy/dummy03.jpg" alt="" width="325" height="211" layout="responsive"></amp-img></div>
            </section>
-->
            <div class="share">
              <h2 class="share__title">シェア</h2>
              <p class="button"><a href="https://www.facebook.com/sharer/sharer.php?u=<?php echo (empty($_SERVER['HTTPS']) ? 'http://' : 'https://') . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>" target="_blank"><amp-img src="/assets/images/pages/detail/share_facebook.png" alt="" width="25" height="25" layout="fixed"></amp-img></a></p>
              <p class="button"><a href="https://twitter.com/intent/tweet?url=<?php echo (empty($_SERVER['HTTPS']) ? 'http://' : 'https://') . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>" target="_blank"><amp-img src="/assets/images/pages/detail/share_twitter.png" alt="" width="25" height="25" layout="fixed"></amp-img></a></p>
              <p class="button"><a href="https://social-plugins.line.me/lineit/share?url=<?php echo (empty($_SERVER['HTTPS']) ? 'http://' : 'https://') . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>" target="_blank"><amp-img src="/assets/images/pages/detail/share_line.png" alt="" width="25" height="25" layout="fixed"></amp-img></a></p>
              <amp-facebook-like width="80" height="20" layout="fixed" data-layout="button" data-size="small" data-href="https://orulab.allhouse.co.jp/"></amp-facebook-like>
            </div>
          </article>

          <div class="article-pager">
          <?php if (!empty($page_data['prev'])) {?>
            <p class="article-pager__prev"><a href="./?id=<?php echo($page_data['prev']['id']); ?>"><amp-img src="/assets/images/pages/detail/pager_prev.svg" alt="" width="51" height="9" layout="fixed"></amp-img></a></p>
            <?php } else { ?>
            <p class="article-pager__prev"><a><amp-img src="/assets/images/pages/detail/pager_prev.svg" alt="" width="51" height="9" layout="fixed"></amp-img></a></p>
            <?php } ?>
            <p class="article-pager__list"><a href="/<?php echo($MediaEntity->getCategoryPath()); ?>/"><amp-img src="/assets/images/pages/detail/pager_list.svg" alt="" width="116.5" height="10" layout="fixed"></amp-img></a></p>
            <?php if (!empty($page_data['next'])) {?>
            <p class="article-pager__next"><a href="./?id=<?php echo($page_data['next']['id']); ?>"><amp-img src="/assets/images/pages/detail/pager_next.svg" alt="" width="50" height="9" layout="fixed"></amp-img></a></p>
            <?php } else { ?>
            <p class="article-pager__next"><a><amp-img src="/assets/images/pages/detail/pager_next.svg" alt="" width="50" height="9" layout="fixed"></amp-img></a></p>
            <?php } ?>
          </div>

          <?php if( call_user_func( $relationDataList["has"]) ): ?>
          <section class="related-articles">
            <h2 class="related-articles__heading">関連記事</h2>
            <ul class="l-grid">
            <?php call_user_func( $relationDataList["done"], function($item, $cnt, $page, $helper, $index){ ?>
              <li class="l-grid__item">
                <a <?php echo($item->getLinkParam()); ?> class="c-article-card c-article-card--<?php echo($item->getCategoryClass()); ?>">
                  <p class="c-article-card__category"><?php echo($item->getCategoryName()); ?></p>
                  <div class="c-article-card__image"><amp-img src="<?php echo($item->getThumbImage()); ?>" alt="" width="147" height="83" layout="responsive"></amp-img></div>
                  <div class="c-article-card__content">
                    <p class="date"><?php echo($item->getOutputDate('Y.m.d')); ?></p>
                    <p class="text"><?php echo($item->title); ?></p>
                  </div>
                </a>
              </li>
              <?php }, false); ?>

            </ul>
          </section>
          <?php endif; ?>

          <div class="banner">
            <amp-ad width="100vw" height="320"
              type="adsense"
              data-ad-client="ca-pub-6194676272576947"
              data-ad-slot="3373010865"
              data-auto-format="rspv"
              data-full-width="">
              <div overflow=""></div>
            </amp-ad>
          </div>
        </main><!-- .l-main -->

      </div><!-- .l-content -->

      <footer class="l-footer">
        <div class="l-footer__inner">
          <ul class="link-list">
            <li class="link-list__item"><a href="/" class="text">TOP</a></li>
            <li class="link-list__item"><a href="/about/" class="text">ABOUT</a></li>
            <li class="link-list__item"><a href="/content" class="text">CONTACT</a></li>
            <li class="link-list__item"><a href="/privacy/" class="text">PRIVACY</a></li>
            <li class="link-list__item">
              <span class="text">カテゴリ</span>
              <ul class="sub-list">
                <li class="sub-list__item"><a href="/house/">建てる</a></li>
                <li class="sub-list__item"><a href="/renovation/">リノベする</a></li>
                <li class="sub-list__item"><a href="/interior/">インテリア</a></li>
                <li class="sub-list__item"><a href="/life/">暮らしのQ&A</a></li>
                <li class="sub-list__item"><a href="/hiroshima/">広島の街</a></li>
              </ul>
            </li>
            <li class="link-list__item">
              <span class="text">グループサイト</span>
              <ul class="sub-list">
                <li class="sub-list__item"><a href="https://www.allhouse.co.jp/" target="_blank">コーポレートサイト</a></li>
                <li class="sub-list__item"><a href="https://house.allhouse.co.jp/" target="_blank">注文住宅</a></li>
                <li class="sub-list__item"><a href="https://reform.allhouse.co.jp/" target="_blank">リノベーション</a></li>
                <li class="sub-list__item"><a href="https://hiroshima-stylo.com/" target="_blank">廣島スタイロ</a></li>
              </ul>
            </li>
          </ul>

          <div class="information">
            <p class="information__logo"><a href="https://www.allhouse.co.jp/" target="_blank"><amp-img src="/assets/images/pages/common/allhouse_logo.png" alt="" width="184" height="41" layout="fixed"></amp-img></a></p>
            <p class="address">
              〒735-0012<br>
              広島県安芸郡府中町八幡1丁目4-23<br>
              TEL 082-890-1002 / FAX 082-890-1003
            </p>
            <ul class="sns-list">
              <li class="sns-list__item"><a href="https://www.instagram.com/allhouse_architecture/?hl=ja" target="_blank"><amp-img src="/assets/images/pages/common/sns_instagram.png" alt="" width="44" height="44" layout="fixed"></amp-img></a></li>
              <li class="sns-list__item"><a href="https://www.facebook.com/allhouse.official/" target="_blank"><amp-img src="/assets/images/pages/common/sns_facebook.png" alt="" width="44" height="44" layout="fixed"></amp-img></a></li>
              <li class="sns-list__item"><a href="https://twitter.com/allhouse_house" target="_blank"><amp-img src="/assets/images/pages/common/sns_twitter.png" alt="" width="44" height="44" layout="fixed"></amp-img></a></li>
            </ul>
          </div>
          <p class="l-footer__copyright"><small class="text">Copyright© allhouse. All Rights Reserved.</small></p>
        </div><!-- .l-footer__inner -->
      </footer>


    </div><!-- .l-page -->
  </body>
</html>
