<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title><?php echo($MediaEntity->title); ?>｜オルラボ｜自分らしく楽しめる暮らしのメディア</title>
  <meta name="description" content="<?php echo (isset($MediaEntity->description) && !empty($MediaEntity->description)) ? $MediaEntity->description : "";?>">

  <meta property="og:title" content="<?php echo($MediaEntity->title); ?>｜オルラボ｜自分らしく楽しめる暮らしのメディア">
  <meta property="og:type" content="website">
  <meta property="og:image" content="<?php echo (isset($MediaEntity->ogp_image) && !empty($MediaEntity->ogp_image)) ? (empty($_SERVER['HTTPS']) ? 'http://' : 'https://') . $_SERVER['HTTP_HOST'] . $MediaEntity->ogp_image : "";?>">
  <meta property="og:url" content="<?php echo (empty($_SERVER['HTTPS']) ? 'http://' : 'https://') . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>">
  <meta property="og:description" content="<?php echo (isset($MediaEntity->description) && !empty($MediaEntity->description)) ? $MediaEntity->description : "";?>">
  <meta name="twitter:card" content="summary">

  <link rel="amphtml" href="<?php echo (empty($_SERVER['HTTPS']) ? 'http://' : 'https://') . $_SERVER['HTTP_HOST'] ; ?>/detail/index_amp.php?id=<?php echo($MediaEntity->id);?>"><!-- AMPのurlを設定してください -->

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include('/gtm-head') %>

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/detail/style.css">
</head>

<body class="page-<?php echo($MediaEntity->getCategoryClass()); ?>"><!-- グロナビアクティブ用にクラスを設定 -->

  <%- include('/gtm-body') %>

  <div class="l-page">

    <?php include(dirname(__FILE__)."/../assets/includes/header.inc"); ?>

    <div class="l-content">
      <main class="l-main">
        <article class="article">
          <div class="article__image"><img src="<?php echo($MediaEntity->getThumbImage()); ?>" alt=""></div>
          <header class="article__header">
            <p class="date"><?php echo $MediaEntity->getOutputDate('Y.m.d'); ?></p>
            <h1 class="title"><?php echo($MediaEntity->title); ?></h1>
            <div class="grid">
              <p class="category"><?php echo($MediaEntity->getCategoryName()); ?></p>
              <div class="share">
                <h2 class="share__title">シェア</h2>
                <p class="button"><a href="https://www.facebook.com/sharer/sharer.php?u=<?php echo (empty($_SERVER['HTTPS']) ? 'http://' : 'https://') . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>" target="_blank"><img src="/assets/images/pages/detail/share_facebook.png" alt="" width="25" height="25"></a></p>
                <p class="button"><a href="https://twitter.com/intent/tweet?url=<?php echo (empty($_SERVER['HTTPS']) ? 'http://' : 'https://') . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>" target="_blank"><img src="/assets/images/pages/detail/share_twitter.png" alt="" width="25" height="25"></a></p>
                <p class="button"><a href="https://social-plugins.line.me/lineit/share?url=<?php echo (empty($_SERVER['HTTPS']) ? 'http://' : 'https://') . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>" target="_blank"><img src="/assets/images/pages/detail/share_line.png" alt="" width="25" height="25"></a></p>
                <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Forulab.allhouse.co.jp%2F&width=90&layout=button&action=like&size=small&share=false&height=65&appId" width="80" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
              </div>
            </div>
            <div class="keyword">
              <h2 class="keyword__title"><img src="/assets/images/pages/detail/keyword_title.svg" alt="" width="122.5" height="22.5"></h2>
              <ul class="tag-list">
                <?php foreach ($MediaEntity->getAllTags() as $tagEntity) : ?>
                  <li class="tag-list__item"><a href="<?php echo $tagEntity->getLink(); ?>">#<?php echo $tagEntity->getName(); ?></a></li>
                <?php endforeach; ?>
              </ul>
            </div>
          </header>

            <?php
            use lacne\service\builder\BuilderOwned;
            $builder = new BuilderOwned();
            $builder->doit( $MediaEntity );
            ?>

            <?php if($MediaEntity->category_image){ ?>
            <p class="text">
                <?php if($MediaEntity->category_link_url){ ?>
                  <a href="<?php echo($MediaEntity->category_link_url); ?>" target="_blank">
                <?php } ?>
                <img alt="" src="<?php echo($MediaEntity->category_image); ?>"></a>
            </p>
            <?php } ?>

          <div class="share">
            <h2 class="share__title">シェア</h2>
            <p class="button"><a href="#"><img src="/assets/images/pages/detail/share_facebook.png" alt="" width="25" height="25"></a></p>
            <p class="button"><a href="#"><img src="/assets/images/pages/detail/share_twitter.png" alt="" width="25" height="25"></a></p>
            <p class="button"><a href="#"><img src="/assets/images/pages/detail/share_line.png" alt="" width="25" height="25"></a></p>
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Forulab.allhouse.co.jp%2F&width=90&layout=button&action=like&size=small&share=false&height=65&appId" width="80" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
          </div>
        </article>

        <div class="article-pager">
          <?php if (!empty($page_data['prev'])) {?>
          <p class="article-pager__prev"><a href="./<?php echo($page_data['prev']['id']); ?>"><img src="/assets/images/pages/detail/pager_prev.svg" alt="" width="51" height="9"></a></p>
          <?php } else { ?>
          <p class="article-pager__prev"><a><img src="/assets/images/pages/detail/pager_prev.svg" alt="" width="51" height="9"></a></p>
          <?php } ?>
          <p class="article-pager__list"><a href="/<?php echo($MediaEntity->getCategoryPath()); ?>/"><img src="/assets/images/pages/detail/pager_list.svg" alt="" width="116.5" height="10"></a></p>
          <?php if (!empty($page_data['next'])) {?>
          <p class="article-pager__next"><a href="./<?php echo($page_data['next']['id']); ?>"><img src="/assets/images/pages/detail/pager_next.svg" alt="" width="50" height="9"></a></p>
          <?php } else { ?>
          <p class="article-pager__next"><a><img src="/assets/images/pages/detail/pager_next.svg" alt="" width="50" height="9"></a></p>
          <?php } ?>
        </div>

        <?php if( call_user_func( $relationDataList["has"]) ): ?>
        <section class="related-articles">
          <h2 class="related-articles__heading">関連記事</h2>
          <ul class="l-grid">
          <?php call_user_func( $relationDataList["done"], function($item, $cnt, $page, $helper, $index){ ?>
          <li class="l-grid__item">
            <a <?php echo($item->getLinkParam()); ?> class="c-article-card c-article-card--<?php echo($item->getCategoryClass()); ?>">
              <p class="c-article-card__category"><?php echo($item->getCategoryName()); ?></p>
              <div class="c-article-card__image"><img src="<?php echo($item->getThumbImage()); ?>" alt="" data-object-fit></div>
              <div class="c-article-card__content">
                <p class="date"><?php echo($item->getOutputDate('Y.m.d')); ?></p>
                <p class="text"><?php echo($item->title); ?></p>
              </div>
            </a>
          </li>
          <?php }, false); ?>

          </ul>
        </section>
        <?php endif; ?>

        <div class="banner">
          <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6194676272576947" data-ad-slot="3373010865" data-ad-format="auto" data-full-width-responsive="true"></ins>
          <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
      </main><!-- .l-main -->

      <?php include(dirname(__FILE__)."/../assets/includes/side.inc"); ?>
    </div><!-- .l-content -->

    <div class="c-bread-crumbs">
      <ul class="bread-crumbs-list">
        <li class="bread-crumbs-list__item"><a href="/">TOP</a></li>
        <li class="bread-crumbs-list__item"><a href="/<?php echo($MediaEntity->getCategoryPath()); ?>/"><?php echo($MediaEntity->getCategoryName()); ?></a></li>
        <li class="bread-crumbs-list__item"><?php echo($MediaEntity->title); ?></li>
      </ul>
    </div>

    <?php include(dirname(__FILE__)."/../assets/includes/footer.inc"); ?>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>

</body>

</html>
