<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>オルラボ｜自分らしく楽しめる暮らしのメディア</title>
  <meta name="description" content="自分らしく楽しめる暮らしを発見できる、オールハウスのオルラボ。住まいと暮らしのヒントになる情報を発信しています。">

  <meta property="og:title" content="オルラボ｜自分らしく楽しめる暮らしのメディア">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:url" content="https://orulab.allhouse.co.jp/">
  <meta property="og:description" content="自分らしく楽しめる暮らしを発見できる、オールハウスのオルラボ。住まいと暮らしのヒントになる情報を発信しています。">
  <meta name="twitter:card" content="summary">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include('/gtm-head') %>

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/search/style.css">
</head>

<body>

  <%- include('/gtm-body') %>

  <div class="l-page">

    <?php include(dirname(__FILE__)."/../assets/includes/header.inc"); ?>

    <div class="l-content">
      <main class="l-main">
        <h1 class="search-heading">「<?php echo($keywords_title); ?>」の検索結果</h1>
        <?php if( call_user_func( $dataList["has"])): ?>
        <ul class="l-grid">
          <?php call_user_func( $dataList["done"], function($item, $cnt, $page, $helper, $index){ ?>
          <li class="l-grid__item">
            <a <?php echo($item->getLinkParam()); ?> class="c-article-card c-article-card--<?php echo($item->getCategoryClass()); ?>">
              <p class="c-article-card__category"><?php echo($item->getCategoryName()); ?></p>
              <div class="c-article-card__image"><img src="<?php echo($item->getThumbImage()); ?>" alt="" data-object-fit></div>
              <div class="c-article-card__content">
                <p class="date"><?php echo($item->getOutputDate('Y.m.d')); ?></p>
                <p class="text"><?php echo($item->title); ?></p>
                <ul class="tag-list">
                <?php foreach ($item->getAllTags() as $tagEntity) : ?>
                  <li class="tag-list__item"><a href="<?php echo $tagEntity->getLink(); ?>"><span>#<?php echo $tagEntity->getName(); ?></span></a></li>
                <?php endforeach; ?>
                </ul>
              </div>
            </a>
          </li>
          <?php }, false); ?>

        </ul>

        <?php echo($pages ); ?>

        <?php else: ?>
        <p>新しい情報はありません。</p>
        <?php endif; ?>

      </main><!-- .l-main -->

      <?php include(dirname(__FILE__)."/../assets/includes/side.inc"); ?>
    </div><!-- .l-content -->

    <div class="c-bread-crumbs">
      <ul class="bread-crumbs-list">
        <li class="bread-crumbs-list__item"><a href="/">TOP</a></li>
        <li class="bread-crumbs-list__item">検索結果</li>
      </ul>
    </div>

    <?php include(dirname(__FILE__)."/../assets/includes/footer.inc"); ?>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>

</body>

</html>
