@charset "utf-8";

/*-----------------------------------------------------
Main -common-
-------------------------------------------------------*/

#Main .section p.note{
	margin-bottom:15px;
	font-size:92%;
	padding:12px;
	background:#EEE;
}

/* list-media
---------------------*/
#Main .section ul.list-media{
	margin-right:0;
	margin-bottom:40px;
	overflow:hidden;
}
#Main .section ul.list-media li{
	float:left;
	margin:20px 20px 0 0;
}
#Main .section ul.list-media li p.img {
        cursor:pointer;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
#Main .section ul.list-media li p.img img {
    padding:5px;
    border:3px solid #EFEFEF;
}
#Main .section ul.list-media li p.img:hover img {
    border-color:#FFB74B;
}

/* PC */
#Main .section label.labelstr {
	font-weight: bold;
	padding-right:5px;
}

#Main .section .btn-tagsearch {
	padding:3px;
	margin-left:5px;
	cursor:pointer;
}

#Main .section .taglist {
	margin:7px 0 0 5.5em;
}
#Main .section .taglist span {
	padding:0 5px 0 0;
}
#Main .section .taglist a,more {
	padding-left:3px;
}

/* PC */
#Main .section table.upload-ui{
    border-collapse: collapse;
    margin-bottom:20px;
}
#Main .section table.upload-ui thead{
    border-bottom:1px solid #ddd;
}
#Main .section table.upload-ui tbody{
    border-bottom:1px solid #ddd;
}
#Main .section table.upload-ui thead th{
    padding:10px 5px;
}
#Main .section table.upload-ui tbody td{
    padding:5px 5px;
    vertical-align: middle;
}
#Main .section table.upload-ui tbody td.upload-cancel{
    padding-left:10px;
}

/* スマホ */
#Main .section .smp table.upload-ui{
    border-collapse: collapse;
    margin-bottom:20px;
    width:100%;
}
#Main .section .smp table.upload-ui thead{
    border-bottom:1px solid #ddd;
}
#Main .section .smp table.upload-ui tbody{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
#Main .section .smp table.upload-ui tbody th{
    padding:5px 5px;
    vertical-align: middle;
    text-align: left;
    display: block;
}
#Main .section .smp table.upload-ui tbody td{
    padding:5px 5px;
    vertical-align: middle;
    display: inline-block;
}
#Main .section .smp table.upload-ui tbody td.upload-cancel{
    vertical-align: middle;
    padding:10px 0 0 20px;
}


/*-----------------------------------------------------
Main -pc-
-------------------------------------------------------*/

/* mediaList
---------------------*/
#Pc #Main #mediaList {
	min-height: 500px;
}

/* btn-type01
---------------------*/
#Pc #Main .section .btn-type01{
	margin:30px 0 20px 0;
}

/* btn
---------------------*/
#Pc #Modal .box div.btn{
	width:350px;
	margin:40px auto 0 auto;
	overflow:hidden;
}
#Pc #Modal .box div.btn.btn-one{
    width:160px !important;
}

#Pc #Modal .box div.btn p{
	float:left;
}
#Pc #Modal .box div.btn p.btn-type02{
	margin-left:30px;
}
#Pc #Modal .box div.btn.btn-one p.btn-type02{
	margin-left:0 !important;
}

#Main p.btn-type01,
#Modal p.btn-type01,
#Main p.btn-type01 input,
#Main p.btn-type01 span,
#Modal p.btn-type01 input,
#Modal p.btn-type01 span,
#Main p.btn-type02,
#Modal p.btn-type02,
#Main p.btn-type02 input,
#Main p.btn-type02 span,
#Modal p.btn-type02 input,
#Modal p.btn-type02 span{
	width:158px;
}


/*-----------------------------------------------------
Main -smp-
-------------------------------------------------------*/


#Smp #Main .section p.note{
	padding:0 10px;
}
/* list-media
---------------------*/
#Smp #Main .section ul.list-media{
	margin:0 auto 10px auto;
}

#Smp #Main .section ul.list-media li{
	/*width:90px;*/
	margin:5px;
}
/*
#Smp #Main .section ul.list-media li img{
	width:90px;
	height:90px;
}
*/
/* btn-type01
---------------------*/
#Smp #Main .section p.btn-type01{
	margin:10px auto;
}

/* btn-type03 */
#Smp #Main .section .btn-type03{
	margin:0 auto 10px auto;
	padding:10px 0 0 0;
}

/* btn
---------------------*/
#Smp #Modal .box div.btn{
	width:245px;
	margin:25px auto 0 auto;
	overflow:hidden;
}
#Smp #Modal .box div.btn p{
	float:left;
	margin:0 10px;
}

/* pager */
#Smp #Main .section .pager-foot div.pager{
	float:none;
	display:block;
	padding:10px 0 0 0;
}
#Smp #Main .section .pager-foot div.pager ul li{
	float:none;
}
#Smp #Main .section .pager-foot div.pager ul li.count{
	border:none;
}
#Smp #Main .section .pager-foot div.pager ul li.count a,
#Smp #Main .section .pager-foot div.pager ul li.count span{
	display:inline-block;
}
#Smp #Main .section .pager-foot div.pager ul li.count{
	display:none;
}
#Smp #Main .section .pager-foot div.pager ul li.count.active{
	display:inline;
}


#Main .section .btn-erea{
	overflow: hidden;
	width: 1054px;
	margin: 50px auto 0;
}
#Main .section .btn-erea .csv-btn,
#Main .section .btn-erea .ga-btn{
	float: left;
	width: 470px;
	margin: 0 0 15px 0;
	padding: 15px;
	border: 1px solid #6996d4;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: #eaf1f7;
	text-align: center;
}
#Main .section .btn-erea .ga-btn{
	margin-right: 50px;
}
#Pc #Main .section .btn-erea .btn-type01{
	margin: 20px auto 10px;
}
@media all and (max-width: 1300px){	
	#Main .section .btn-erea{
		width: 100%;
	}
}