.c-article-card {
  position: relative;
  display: block;
  padding: 5px 0 0 6px;

  @each $key, $color in $category-colors {
    &--#{$key} &__category {
      border-color: $color;
    }
  }

  @include media-breakpoint-up(md) {
    padding: 0;
  }

  &__category {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 24px;
    padding: 9px 8px;
    font-size: 8px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    word-break: break-all;
    background: #fff;
    border-top: 3px solid;

    @include media-breakpoint-up(md) {
      top: -13px;
      left: -15px;
      width: 49px;
      padding: 18px 16px 25px;
      font-size: 15px;
      border-top-width: 6px;
    }
  }

  &__image {
    position: relative;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;

    @include media-breakpoint-up(md) {
      border-radius: 10px;
    }

    &::before {
      display: block;
      width: 100%;
      padding-bottom: 165 / 292 * 100%;
      content: '';
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.4s $ease-out-quint;
      object-fit: cover;
    }
  }

  &__content {
    margin-top: 13px;
    font-weight: 600;

    @include media-breakpoint-up(md) {
      margin-top: 23px;
    }

    .date {
      margin-bottom: 8px;
      font-size: 8px;
      line-height: 1;

      @include media-breakpoint-up(md) {
        margin-bottom: 12px;
        font-size: 12px;
      }
    }

    .text {
      font-size: 12px;
      line-height: 1.625;

      @include media-breakpoint-up(md) {
        font-size: 15px;
        line-height: 2;
      }
    }

    .tag-list {
      display: flex;
      flex-wrap: wrap;
      margin: 5px -5px 0 0;

      @include media-breakpoint-up(md) {
        margin-right: -10px;
      }

      &__item {
        margin: 5px 5px 0 0;

        @include media-breakpoint-up(md) {
          margin: 10px 10px 0 0;
        }

        span {
          display: block;
          padding: 6px 10px;
          font-size: 10px;
          font-weight: 600;
          line-height: 1;
          border: 1px solid rgba(#222, 0.2);
          border-radius: 5px;

          @include media-breakpoint-up(md) {
            padding: 8px 14px;
            font-size: 12px;
            border-radius: 10px;
          }
        }
      }
    }
  }

  &:hover {
    @include media-breakpoint-up(md) {
      .c-article-card__image img {
        opacity: 0.8;
        transition: transform 1s $ease-out-quint, opacity 0.4s $ease-out-quint;
        transform: scale(1.03);
      }
    }
  }
}
