.c-bread-crumbs {
  padding: 13px 25px;
  background: #fff;

  @include media-breakpoint-up(md) {
    padding: 15px 0;
  }

  .bread-crumbs-list {
    display: flex;

    @include media-breakpoint-up(md) {
      width: 1200px;
      margin: 0 auto;
    }

    &__item {
      font-size: 9px;
      font-weight: 600;

      @include media-breakpoint-up(md) {
        font-size: 12px;
      }

      &:not(:first-child)::before {
        display: inline-block;
        margin: 0 1em;
        content: '>';
        opacity: 0.3;
      }

      a {
        display: inline-block;
        border-bottom: 1px solid #adadad;
      }
    }
  }
}
