.c-pager {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 33px 8px 0;

  @include media-breakpoint-up(md) {
    width: 430px;
    margin: 60px auto 0;
  }

  &__prev,
  &__next {
    a {
      position: relative;
      display: block;
      width: 36px;
      height: 36px;
      background: $color-primary;
      border-radius: 50%;

      @include media-breakpoint-up(md) {
        width: 50px;
        height: 50px;
        transition: 0.3s;
      }

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 12px;
        width: 11px;
        height: 1px;
        content: '';
        background: #17201d;

        @include media-breakpoint-up(md) {
          left: 17px;
          width: 16px;
        }
      }

      &::after {
        width: 5px;
        transform: rotate(-45deg);
        transform-origin: left center;

        @include media-breakpoint-up(md) {
          width: 7px;
        }
      }
    }

    a:not([href]) {
      opacity: 0.5;
    }

    a[href]:hover {
      @include media-breakpoint-up(md) {
        transform: scale(1.1);
      }
    }
  }

  &__next {
    transform: scaleX(-1);
  }

  &__pagination {
    display: flex;
    justify-content: center;

    .page {
      margin: 0 4px;

      @include media-breakpoint-up(md) {
        margin: 0 5px;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        font-size: 9px;
        font-weight: 600;
        background: #fff;
        border: 1px solid #e4e4e4;
        border-radius: 50%;

        @include media-breakpoint-up(md) {
          width: 50px;
          height: 50px;
          font-size: 12px;
          transition: 0.3s;
        }
      }

      a:not([href]) {
        background: #e4e4e4;
      }

      a[href]:hover {
        @include media-breakpoint-up(md) {
          transform: scale(1.1);
        }
      }
    }

    .ellipsis {
      display: flex;
      align-items: center;
      margin: 0 4px 6px;

      @include media-breakpoint-up(md) {
        margin: 0 5px 8px;
      }
    }
  }
}
