.l-footer {
  position: relative;
  padding: 50px 25px 222px;
  background: #f0f0f0 url('/assets/images/pages/common/footer_bg.jpg') repeat-x -20px
    bottom / auto 195px;

  @include media-breakpoint-up(md) {
    padding: 90px 0 330px;
    background-size: auto 270px;
  }

  &__page-top {
    position: absolute;
    right: 15px;
    bottom: 208px;
    width: 42px;
    height: 42px;
    border: 1px solid;
    border-radius: 50%;

    @include media-breakpoint-up(md) {
      right: 40px;
      bottom: 220px;
      width: 70px;
      height: 70px;
      border-width: 2px;

      &:hover {
        background: rgba(#fff, 0.4);
      }
    }

    &::before {
      position: absolute;
      top: 2px;
      right: 0;
      bottom: 0;
      left: 0;
      width: 6px;
      height: 6px;
      margin: auto;
      content: '';
      border: solid;
      border-width: 1px 1px 0 0;
      transform: rotate(-45deg);

      @include media-breakpoint-up(md) {
        top: 3px;
        width: 11px;
        height: 11px;
        border-width: 2px 2px 0 0;
      }
    }
  }

  &__inner {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      width: 1200px;
      margin: 0 auto;
    }
  }

  .link-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 17px;
    margin-top: -30px;

    @include media-breakpoint-up(md) {
      flex-direction: column;
      width: 500px;
      height: 260px;
      margin: -40px 0 0 auto;
    }

    &__item {
      width: 50%;
      margin-top: 30px;

      @include media-breakpoint-up(md) {
        width: 175px;
        margin-top: 40px;

        a:hover {
          text-decoration: underline;
        }
      }

      .text {
        font-size: 13px;
        font-weight: 600;

        @include media-breakpoint-up(md) {
          font-size: 15px;
        }
      }
    }
  }

  .sub-list {
    margin: 23px 0 -18px 18px;

    @include media-breakpoint-up(md) {
      margin: 25px 0 -20px 20px;
    }

    &__item {
      margin-bottom: 18px;
      font-size: 11px;
      font-weight: 600;
      color: #a3a3a3;

      @include media-breakpoint-up(md) {
        margin-bottom: 20px;
        font-size: 12px;
      }

      a {
        &::before {
          content: '- ';
        }

        &[target='_blank']::after {
          display: inline-block;
          width: 9px;
          height: 9px;
          margin-left: 8px;
          content: '';
          background: url('/assets/images/pages/common/icon_blank.svg')
            no-repeat center / contain;
        }
      }
    }
  }

  .information {
    margin-top: 45px;

    @include media-breakpoint-up(md) {
      order: -1;
      margin: 0;
    }

    &__logo {
      margin-bottom: 23px;
      text-align: center;

      @include media-breakpoint-up(md) {
        margin-bottom: 38px;
        text-align: left;

        img {
          width: 236px;
          height: auto;
        }
      }
    }

    .address {
      font-size: 12px;
      font-weight: 600;
      line-height: 1.9;
      text-align: center;

      @include media-breakpoint-up(md) {
        font-size: 13px;
        line-height: 2.3;
        text-align: left;
      }
    }

    .sns-list {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 25px;

      @include media-breakpoint-up(md) {
        justify-content: flex-start;
        margin-top: 38px;
      }

      &__item {
        margin: 0 5px;

        @include media-breakpoint-up(md) {
          margin: 0 10px 0 0;

          a:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  &__copyright {
    margin-top: 36px;
    font-size: 11px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.01em;

    @include media-breakpoint-up(md) {
      width: 100%;
      margin-top: 40px;
      font-size: 12px;
      text-align: right;
    }

    .text {
      font-size: 100%;
    }
  }
}
