.l-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -28px -20px 0 0;

  @include media-breakpoint-up(md) {
    margin: -60px -45px 0 0;
  }

  &__item {
    width: calc(50% - 20px);
    margin: 28px 20px 0 0;

    @include media-breakpoint-up(md) {
      width: calc(50% - 45px);
      margin: 60px 45px 0 0;
    }
  }
}
