.l-header {
  position: relative;
  z-index: 0;
  padding: 30px 0 0;
  background: #fff;

  @include media-breakpoint-up(md) {
    padding: 40px 0 0;
  }

  &__top {
    display: flex;
    align-items: center;
    padding: 0 25px;

    @include media-breakpoint-up(md) {
      padding: 0 60px;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 0;
    content: '';
    border: solid transparent;
    border-width: 206px 245px 0 0;
    border-top-color: $color-primary;

    @include media-breakpoint-up(md) {
      border-width: 680px 568px 0 0;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: auto;

    @include media-breakpoint-up(md) {
      a img {
        width: 177px;
        height: auto;
      }
    }

    .text {
      margin-left: 23px;
      font-size: 10px;
      font-weight: 600;
      line-height: 2;

      @include media-breakpoint-up(md) {
        margin-left: 38px;
        font-size: 13px;
        line-height: 1;
      }
    }
  }

  &__search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    @include media-breakpoint-up(md) {
      width: 355px;
      overflow: hidden;
    }

    .search-inner {
      position: absolute;
      top: -3px;
      right: -1px;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 44px;
      height: 46px;
      overflow: hidden;
      visibility: hidden;
      background: #fff;
      border: 1px solid #e9e9e9;
      border-radius: 44px;
      opacity: 0;
      transition: 0.3s;

      @include media-breakpoint-up(md) {
        position: relative;
        top: 0;
        right: 0;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0;
        visibility: visible;
        opacity: 1;
      }
    }

    &.is-active .search-inner {
      @include media-breakpoint-down(sm) {
        width: 220px;
        visibility: visible;
        opacity: 1;
      }
    }

    input {
      display: block;
      flex: 1 1 auto;
      width: 100%;
      height: 100%;
      padding: 0 0 0 20px;
      font-size: 12px;
      outline: none;

      @include media-breakpoint-up(md) {
        display: block;
        height: 100%;
        padding: 0 30px;
      }
    }

    .submit {
      flex: 0 0 auto;
      width: 44px;
      height: 100%;

      @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 100%;
      }

      svg {
        fill: #222;

        @include media-breakpoint-up(md) {
          width: 14px;
          height: 14px;
          fill: #c5c5c5;
        }
      }
    }
  }

  &__toggler {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    margin: 0 -6px 0 6px;

    @include media-breakpoint-up(md) {
      width: 56px;
      height: 44px;
      margin: 0 0 0 37px;
    }

    .line {
      width: 28px;
      height: 2px;
      margin: 3px 0;
      background: #222;

      @include media-breakpoint-up(md) {
        width: 100%;
        margin: 4px 0;
      }
    }
  }

  &__category {
    .swiper-container {
      padding: 35px 0;

      @include media-breakpoint-up(md) {
        width: 1200px;
        padding: 50px 0 60px;
        margin: 0 auto;
      }
    }

    .swiper-wrapper {
      padding: 0 25px;

      @include media-breakpoint-up(md) {
        padding: 0;
      }
    }

    .swiper-slide {
      position: relative;
      width: 138px;

      @include media-breakpoint-up(md) {
        width: 16.66%;
      }

      &:not(:first-child)::before {
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 0;
        width: 1px;
        margin: auto;
        content: '';
        background: #e9e9e9;
      }

      &:last-child {
        @include media-breakpoint-down(sm) {
          margin-right: 50px;
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin-top: -15px;
      background: #e4e4e4;
      border-radius: 50%;

      @include media-breakpoint-up(md) {
        display: none;
      }

      &::before {
        font-size: 8px;
        line-height: 1;
        color: #fff;
        content: '＜';
      }

      &.swiper-button-disabled {
        opacity: 0;
      }
    }

    .swiper-button-next {
      transform: scaleX(-1);
    }

    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 30px;

      @include media-breakpoint-up(md) {
        height: 50px;
      }

      &__inner {
        position: relative;
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        min-width: 60px;
        padding: 7px 0;
        font-size: 11px;
        font-weight: 600;

        @include media-breakpoint-up(md) {
          padding: 12px 0;
          font-size: 15px;
        }

        &::before {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          margin: auto;
          content: '';
          background: #222;
          transition: 0.3s;
        }
      }

      &:hover .link__inner::before {
        @include media-breakpoint-up(md) {
          width: 100%;
        }
      }

      &__icon {
        width: auto;
        height: 15px;
        margin-right: 12px;

        @include media-breakpoint-up(md) {
          height: 25px;
          margin-right: 20px;
        }
      }
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 100%;
    left: 0;
    z-index: 100;
    visibility: hidden;
    background: #f4f4f4;
    transition: 0.6s $ease-out-expo;

    @include media-breakpoint-up(md) {
      bottom: 0;
      left: auto;
      width: 430px;
      transform: translateX(100%);
    }

    &.is-active {
      bottom: 0;
      visibility: visible;

      @include media-breakpoint-up(md) {
        transform: translateX(0);
      }
    }

    .close {
      position: absolute;
      top: 33px;
      right: 15px;
      width: 50px;
      height: 35px;

      @include media-breakpoint-up(md) {
        top: 50px;
        right: 58px;
        width: 56px;
        height: 32px;
      }

      .line {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 33px;
        height: 2px;
        background: #171717;
        transform: translate(-50%, -50%) rotate(30deg);

        @include media-breakpoint-up(md) {
          width: 63px;
        }

        &:nth-child(2) {
          transform: translate(-50%, -50%) rotate(-30deg);
        }
      }
    }

    .menu {
      width: 100%;
      height: 100%;
      overflow: auto;
    }

    .inner {
      padding: 95px 40px 50px;

      @include media-breakpoint-up(md) {
        padding: 155px 80px 50px;
      }
    }

    .category-list {
      &__item {
        margin-bottom: 28px;

        @include media-breakpoint-up(md) {
          margin-bottom: 20px;
        }
      }

      .link {
        display: inline-flex;
        align-items: center;
        font-size: 15px;
        font-weight: 600;

        @include media-breakpoint-up(md) {
          &:hover .link__text {
            border-color: #222;
          }
        }

        &__text {
          line-height: 1;

          @include media-breakpoint-up(md) {
            display: block;
            padding: 6px 0;
            border-bottom: 1px solid transparent;
          }
        }

        &__icon {
          width: 25px;
          height: 18px;
          margin-right: 20px;
          line-height: 1;
          text-align: center;

          @include media-breakpoint-up(md) {
            width: 30px;
            height: 20px;
            margin-right: 23px;
          }

          img {
            width: auto;
            height: 100%;
          }
        }
      }
    }

    .link-wrap {
      display: flex;
      margin-top: 60px;

      @include media-breakpoint-up(md) {
        margin-top: 75px;
      }
    }

    .nav-list {
      width: 50%;
      margin-bottom: -30px;

      &__item {
        margin-bottom: 30px;
        font-size: 17px;
        font-weight: 600;

        @include media-breakpoint-up(md) {
          font-size: 15px;

          a:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .link-list {
      margin-bottom: -22px;

      &__item {
        margin-bottom: 22px;
        font-size: 13px;
        font-weight: 600;
        opacity: 0.5;

        @include media-breakpoint-up(md) {
          font-size: 12px;

          a:hover {
            text-decoration: underline;
          }
        }

        a::after {
          display: inline-block;
          width: 9px;
          height: 9px;
          margin-left: 8px;
          content: '';
          background: url('/assets/images/pages/common/icon_blank.svg')
            no-repeat center / contain;
        }
      }
    }

    .sns-list {
      display: flex;
      align-items: center;
      margin-top: 55px;

      @include media-breakpoint-up(md) {
        margin-top: 80px;
      }

      &__item {
        margin-right: 10px;

        @include media-breakpoint-up(md) {
          a:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

@each $key, $color in $category-colors {
  .page-#{$key}
    .l-header__category
    .link[href='/#{$key}/']
    .link__inner::before {
    width: 100%;
  }
}
