.l-main {
  position: relative;
  padding: 30px 25px 50px;

  @include media-breakpoint-up(md) {
    flex: 0 0 auto;
    width: 900px;
    padding: 60px 40px 100px;
  }

  .banner {
    margin-top: 40px;

    @include media-breakpoint-up(md) {
      margin-top: 70px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.page-hiroshima .l-main {
  &::before {
    @include media-breakpoint-up(md) {
      position: absolute;
      top: -100px;
      left: -18px;
      width: 55px;
      height: 129px;
      content: '';
      background: url('/assets/images/pages/common/cat.png') no-repeat center/
        contain;
    }
  }

  &::after {
    display: block;
    width: 100%;
    height: 110px;
    margin-top: 23px;
    content: '';
    background: url('/assets/images/pages/common/cat.png') no-repeat center /
        46px auto,
      url('/assets/images/pages/common/cat_bg.svg') no-repeat center / 306px
        auto;

    @include media-breakpoint-up(md) {
      position: absolute;
      bottom: 70px;
      left: -237px;
      width: 429px;
      height: 136px;
      background: url('/assets/images/pages/common/cat_bg.svg') no-repeat center /
        contain;
    }
  }
}
