.l-side {
  padding: 50px 25px 60px;
  background: url('/assets/images/pages/common/side_bg.png') 0 / 17px;

  @include media-breakpoint-up(md) {
    flex: 0 0 auto;
    width: 350px;
    padding: 70px 40px 100px;
  }

  .sec-ranking {
    &__heading {
      margin-bottom: 35px;
      text-align: center;

      @include media-breakpoint-up(md) {
        margin-bottom: 40px;

        img {
          width: auto;
          height: 90px;
        }
      }
    }

    &__tab {
      display: flex;
      height: 40px;
      margin-bottom: 35px;
      overflow: hidden;
      border: 1px solid rgba(#fff, 0.2);
      border-radius: 40px;

      @include media-breakpoint-up(md) {
        margin-bottom: 40px;
      }

      .button {
        display: flex;
        flex: 1 1 auto;
        grid-template: 100%;
        align-items: center;
        justify-content: center;
        width: 50%;

        &.is-active {
          background: rgba(#fff, 0.18);
        }
      }
    }

    &__content {
      display: none;

      &.is-active {
        display: block;
      }
    }

    .card-list {
      &__item {
        margin-bottom: 30px;
      }
    }

    .card {
      position: relative;

      &__link {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
      }

      &__rank {
        position: absolute;
        top: -10px;
        left: -10px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        font-size: 11px;
        font-weight: 600;
        background: #fff;
        border-radius: 50%;

        @include media-breakpoint-up(md) {
          top: -12px;
          left: -12px;
          width: 38px;
          height: 38px;
          font-size: 12px;
        }
      }

      &__image {
        position: relative;
        overflow: hidden;
        background: #fff;
        border-radius: 5px;

        @include media-breakpoint-up(md) {
          border-radius: 10px;
        }

        &::before {
          display: block;
          width: 100%;
          padding-bottom: 165 / 292 * 100%;
          content: '';
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: 0.4s $ease-out-quint;
          object-fit: cover;
        }
      }

      &__content {
        margin-top: 8px;
        font-weight: 600;
        color: #fff;

        .date {
          display: inline-block;
          font-size: 8px;
          line-height: 1;
          opacity: 0.6;

          @include media-breakpoint-up(md) {
            font-size: 11px;
          }
        }

        .category {
          position: relative;
          z-index: 2;
          display: inline-block;
          margin-left: 10px;
          font-size: 9px;
          line-height: 1;

          @include media-breakpoint-up(md) {
            font-size: 10px;
          }

          a {
            text-decoration: underline;

            &:hover {
              text-decoration: none;
            }
          }
        }

        .text {
          margin-top: 8px;
          font-size: 12px;
          line-height: 1.66;

          @include media-breakpoint-up(md) {
            font-size: 13px;
            line-height: 1.92;
          }
        }
      }

      &:hover {
        @include media-breakpoint-up(md) {
          .card__image img {
            opacity: 0.8;
            transition: transform 1s $ease-out-quint,
              opacity 0.4s $ease-out-quint;
            transform: scale(1.03);
          }
        }
      }
    }

    .card-list__item:nth-child(n + 4) .card {
      display: flex;
      align-items: flex-start;

      &__image {
        flex: 0 0 auto;
        width: 50%;

        @include media-breakpoint-up(md) {
          width: 90px;
        }
      }

      &__content {
        flex: 1 1 auto;
        margin: -2px 0 0 17px;

        @include media-breakpoint-up(md) {
          margin: -4px 0 0 20px;
        }
      }
    }
  }

  .sec-keyword {
    margin-top: 50px;

    @include media-breakpoint-up(md) {
      margin-top: 75px;
    }

    &__heading {
      margin-bottom: 30px;
      text-align: center;

      @include media-breakpoint-up(md) {
        margin-bottom: 35px;

        img {
          width: auto;
          height: 90px;
        }
      }
    }

    .tag-list {
      display: flex;
      flex-wrap: wrap;
      margin-right: -5px;

      @include media-breakpoint-up(md) {
        margin-right: -10px;
      }

      &__item {
        margin: 5px 5px 0 0;

        @include media-breakpoint-up(md) {
          margin: 10px 10px 0 0;
        }

        a {
          display: block;
          padding: 6px 10px;
          font-size: 10px;
          font-weight: 600;
          line-height: 1;
          color: #fff;
          border: 1px solid rgba(#fff, 0.2);
          border-radius: 5px;

          @include media-breakpoint-up(md) {
            padding: 8px 14px;
            font-size: 12px;
            border-radius: 10px;

            &:hover {
              background: rgba(#fff, 0.1);
            }
          }
        }
      }
    }
  }

  .banner-list {
    margin-top: 50px;

    @include media-breakpoint-up(md) {
      margin-top: 75px;
    }

    &__item {
      margin-top: 15px;

      @include media-breakpoint-up(md) {
        margin-top: 20px;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        transition: 0.3s;

        @include media-breakpoint-up(md) {
          border-radius: 10px;
        }
      }

      a:hover img {
        @include media-breakpoint-up(md) {
          opacity: 0.8;
        }
      }
    }
  }

  .banner {
    margin-top: 15px;

    @include media-breakpoint-up(md) {
      margin-top: 20px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
