.section {
  position: relative;
  margin-top: 50px;

  @include media-breakpoint-up(md) {
    margin-top: 90px;
  }

  &__heading {
    margin-bottom: 40px;
    font-size: 23px;
    font-weight: 700;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-bottom: 80px;
      font-size: 32px;
    }
  }

  .policy {
    line-height: 2.3;

    &__section {
      margin-top: 25px;

      @include media-breakpoint-up(md) {
        margin-top: 40px;
      }
    }

    &__title {
      font-weight: 600;
    }
  }

  .text {
    margin-top: 25px;
    line-height: 2.3;

    @include media-breakpoint-up(md) {
      margin-top: 40px;
    }
  }
}
