@charset "utf-8";

/*-----------------------------------------------------
html
-------------------------------------------------------*/
html{
	overflow-y:scroll;
}

/*-----------------------------------------------------
body
-------------------------------------------------------*/
body{
	font-size:12px;
	font-size:75%\9;
	color:#000000;
	line-height:1.4;
	letter-spacing:0.03em;
	font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",Arial,Osaka,Sans-Serif;
	font-family:"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",Arial,Osaka,Sans-Serif\9;
	_font-family:"ＭＳ Ｐゴシック","MS PGothic",Arial,Osaka,Sans-Serif\9;
	background:url("../../images/common/body_bg.gif") repeat 0 0;
}



/* for IE9 */
body:not(:target){
	font-size:75%\9;
}


/*-----------------------------------------------------
nonvisual-menu
-------------------------------------------------------*/
div.nonvisual-menu{
	width:0;
	height:0;
	font-size:1px;
	line-height:1px;
	overflow:hidden;
	/* except MacIE \*/position: absolute;/* end */
	left:0;
	top:0;
	color:#fff;
}

div.nonvisual-menu a{
	text-decoration:none;
	font-size:1px;
	line-height:1px;
	color:#fff;
}
#main-Contents img{
	position:absolute;
	border:none!important;
	height:1px;
	top:0px;
	left:0px;
}


/*-----------------------------------------------------
Container
-------------------------------------------------------*/
#Container{
	width:100%;
}

/*-----------------------------------------------------
Ie6Update
-------------------------------------------------------*/
#Ie6Update{
	width:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	text-align:center;
	border-bottom:2px solid #6F6F6F;
}
#Ie6Update div.bg{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:101;
	background:#F9F9F9;
	
}
#Ie6Update p{
	position:relative;
	z-index:102;
	
	padding:10px 0 10px 0;
}

/*-----------------------------------------------------
GlobalHeader
-------------------------------------------------------*/
#GlobalHeader{
	width:100%;
	min-width:980px;
	color:#FFFFFF;
	background:url("../../images/common/global_header_bg.gif") repeat-x 0 0;
}
#GlobalHeader div.globalheader-inline{
	width:980px;
	height:40px;
	overflow:hidden;
	margin:0 auto 0 auto;
	padding:0 0 4px 0;
}
/* h1,.logo
---------------------*/
#GlobalHeader h1,
#GlobalHeader p.logo{
	width:73px;
	height:17px;
	float:left;
	display:inline;
	margin:11px 0 0 0;
	line-height:1;
}
/* ul
---------------------*/
#GlobalHeader ul{
	float:left;
	display:inline;
	overflow:hidden;
	margin:7px 0 0 32px;
}
#GlobalHeader ul li{
	float:left;
	display:inline;
	margin:0 17px 0 0;
	line-height:1;
}


/*-----------------------------------------------------
GlobalContent
-------------------------------------------------------*/
#GlobalContent{
	width:988px;
	position:relative;
	margin:0 auto 0 auto;
}


/*-----------------------------------------------------
Content
-------------------------------------------------------*/
#Content{
	width:100%;
}
/* pankuzu
---------------------*/
dl.pankuzu{
	width:976px;
	margin:0 auto 0 auto;
	padding:20px 0 0 0;
}
dl.pankuzu dt{
	font-size:1px;
	line-height:1px;
	display:none;
	overflow:hidden;
}
dl.pankuzu dd,
dl.pankuzu ul{
	width:100%;
	overflow:hidden;
}
dl.pankuzu ul li{
	float:left;
	display:inline;
	margin:0 8px 0 0;
}
dl.pankuzu ul li a{
	padding:0 10px 0 0;
}

h1.page-ttl{
	width:976px;
	margin:18px auto 0 auto;
}

/*-------------------------------------
Main
---------------------------------------*/
#Main{
	width:988px;
	margin:25px auto 0 auto;
	background:url("../../images/common/main_bg.gif") repeat-y 0 0;
}
#Main div.main-outline{
	width:100%;
	padding:3px 0 0 0;
	background:url("../../images/common/main_bg_top.gif") no-repeat 0 0;
}
#Main div.main-outline div.main-inline{
	width:980px;
	padding:0 4px 5px 4px;
	background:url("../../images/common/main_bg_bottom.gif") no-repeat 0 100%;
}


/*-------------------------------------
Common
---------------------------------------*
/* pagetop
---------------------*/
#PageTop{
	width:42px;
	height:42px;
	display:none;
	position:absolute;
	bottom:20px;
	right:-50px;
}
p.pagetop{
	padding:10px;
	text-align:right;
}

/* form
---------------------*/
input.input-usually,
textarea.input-usually{
	font-size:100%;
	padding:2px;
	outline:none;
	border:1px solid #809DB9;
	background:#FFFFFF;
}
input.input-focus,
textarea.input-focus{
	border:1px solid #EF7A00;
	background:#FFFBD7;
}


/*-----------------------------------------------------
GlobalFooter
-------------------------------------------------------*/
#GlobalFooter{
	width:100%;
	min-width:980px;
	color:#FFFFFF;
	background:url("../../images/common/global_footer_bg.gif") repeat-x 0 0;
}
#GlobalFooter div.globalfooter-inline{
	width:980px;
	height:40px;
	overflow:hidden;
	margin:0 auto 0 auto;
	padding:4px 0 0 0;
}
/* address
---------------------*/
#GlobalFooter address{
	width:213px;
	height:12px;
	float:left;
	display:inline;
	padding:14px 0 0 20px;
	line-height:1;
}
/* p
---------------------*/
#GlobalFooter p{
	width:106px;
	height:13px;
	float:right;
	display:inline;
	margin:15px 19px 0 0;
	line-height:1;
}
/* ul
---------------------*/
#GlobalFooter ul{
	width:200px;
	height:21px;
	overflow:hidden;
	float:right;
	display:inline;
	margin:12px 15px 0 0;
}
#GlobalFooter ul li{
	height:21px;
	float:left;
	display:inline;
	margin:0 15px 0 0;
	line-height:21px;
}
#GlobalFooter ul li img{
	margin:0 10px 0 0;
}
#GlobalFooter ul li a{
	color:#FFF;
}