@charset "utf-8";

/*-----------------------------------------------------
Main -common-
-------------------------------------------------------*/


/* list
---------------------*/

#Main .section.list li{
	overflow:hidden !important;
}
#Main .section.list li span.name{
	display:block;
	float:left;
}
#Main .section.list li span.edit{
	float:right;
	margin-right:5px;
	display:block;
}
#Main .section.list li span.edit img{
	margin:0 7px;
}



/*-----------------------------------------------------
Main -pc-
-------------------------------------------------------*/


/* edit
---------------------*/
#Pc #Main .section.edit{
	width:60%;
	float:left;
	display:inline;
	margin:0 0 30px 30px;
}
#Pc #Main .section.edit p.text{
	margin-bottom:20px;
}

/* form */
#Pc #Main .section.edit form .text strong{
	margin-right:10px;
}
#Pc #Main .section.edit form .text input{
	width:330px;
}
/* btn */
#Pc #Main .section.edit form .btn-type01{
	width:230px
}
#Pc #Main .section.edit form .btn-type01 span{
	width:230px
}

/* list
---------------------*/
#Pc #Main .section.list{
	width:30%;
	float:left;
	display:inline;
	margin:30px 0 0 30px;
	overflow:visible;
}
#Pc #Main .section.list ul{
	margin-top:-18px;
}
#Pc #Main .section.list ul li{
	width:97%;
	overflow:visible;
	padding:10px 0 10px 3%;
	font-weight:normal;
	background-image:url("../../images/common/table_bg_border.gif");
	background-repeat:repeat-x;
	background-position:0 100%;
}

#Pc #Main .section.list ul li.odd{
	background-color:#f7f9fb;
}
#Pc #Main .section.list ul li.highlight{
	background-color:#fbf8e9 !important;
	-o-transition:all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
#Pc #Main .section.list ul li.no-data {
    background-image:none;
}

/* toolTip
---------------------*/
#Pc #Main p.toolTip{
	width:60px;
}
#Pc #Main p.toolTip span.arrow{
	left:25px;
}
#Pc #Main p.toolTip span.text{
	text-align:center;
}


/* Modal
---------------------*/
#Pc #Modal .category-name{
	margin-top:30px;
}

/* btn
---------------------*/
#Pc #Modal .box div.btn{
	width:350px;
	margin:55px auto 0 auto;
	overflow:hidden;
}
#Pc #Modal p.btn-type01,
#Pc #Modal p.btn-type01 input,
#Pc #Modal p.btn-type01 span,
#Pc #Modal p.btn-type02,
#Pc #Modal p.btn-type02 input,
#Pc #Modal p.btn-type02 span{
	width:158px;
}
#Pc #Modal .box div.btn p{
	float:left;
}
#Pc #Modal .box div.btn p.btn-type02{
	margin-left:30px;
}
#Pc #Modal #box-complete p.btn-type02{
	margin:60px auto 0 auto;
}
*:first-child+html #Pc #Modal #box-complete .btn02{
	width:160px;
	margin:60px auto 0 auto;
}


/*-----------------------------------------------------
Main -smp-
-------------------------------------------------------*/

/* form
---------------------*/
#Smp #Main .section form p.text strong{
	width:auto;
	display:block;
	font-weight:bold;
}
#Smp #Main .section form p.text input[type=text]{
	width:95%;
}
/* btn-type01
---------------------*/
#Smp #Main .section .btn-type01{
	margin:10px auto;
}

/* list */
#Smp #Main .section.list ul{
	width:100%;
}
#Smp #Main .section.list ul li{
	padding:10px;
	border-bottom:1px solid #a4b4c4;
}
#Smp #Main .section.list ul li.last{
	border:none;
}

/* btn
---------------------*/
#Smp #Modal .box div.btn{
	width:245px;
	margin:25px auto 0 auto;
	overflow:hidden;
}
#Smp #Modal .box div.btn p{
	float:left;
	margin:0 10px;
}
#Smp #Modal .btn02 p.btn-type02{
	margin:25px auto 0 auto;
}

