@charset "utf-8";

/*-----------------------------------------------------
Main -common-
-------------------------------------------------------*/



/*-----------------------------------------------------
Main -pc-
-------------------------------------------------------*/


/* input
---------------------*/
#Pc #Main .section form{
	padding:0 12px;
}

#Pc #Main .section div.input{
	margin:36px 0px 45px 0px;
}
#Pc #Main .section div.input p{
	margin:5px 0;
}
#Pc #Main .section div.input p span.label{
	font-weight:bold;
	display:inline-block;
	width:130px;
}
#Pc #Main .section div.input p input{
	width:450px;
}
/* btn
---------------------*/
#Pc #Main .section div.btn{
	width:350px;
	margin:20px auto 0 auto;
	overflow:hidden;
}
#Pc #Main .section div.btn p{
	float:left;
}
#Pc #Main .section div.btn p.btn-type02{
	margin-left:30px;
}
#Pc #Main .section p.btn-type01,
#Pc #Main .section p.btn-type01 input,
#Pc #Main .section p.btn-type01 span,
#Pc #Main .section p.btn-type02,
#Pc #Main .section p.btn-type02 input,
#Pc #Main .section p.btn-type02 span{
	width:158px;
}

/*-----------------------------------------------------
Main -smp-
-------------------------------------------------------*/

#Smp #Main .section form{
	padding:10px;
}

#Smp #Main .section div.input p span.label{
	display:block;
	font-weight:bold;
	margin-top:10px;
}

/* btn
---------------------*/
#Smp #Main .section p.btn-type01,
#Smp #Main .section p.btn-type01 input,
#Smp #Main .section p.btn-type01 span,
#Smp #Main .section p.btn-type02,
#Smp #Main .section p.btn-type02 input,
#Smp #Main .section p.btn-type02 span{
	width:100px;
}
#Smp #Main .section div.btn{
	width:245px;
	margin:25px auto 10px auto;
	overflow:hidden;
}
#Smp #Main .section div.btn p{
	float:left;
	margin:0 10px;
}

#Smp #Main .section input[type=text],
#Smp #Main .section input[type=password]{
	width:95%;
}