.mv {
  padding: 33px 0 65px;
  background: #fff url('/assets/images/pages/index/mv_bg.png') repeat-x 0 bottom /
    auto 58px;

  @include media-breakpoint-up(md) {
    padding: 35px 0 0;
    background-size: auto 75px;
  }

  .swiper-container {
    @include media-breakpoint-up(md) {
      padding-bottom: 110px;
    }
  }

  .swiper-slide {
    width: calc(100% - 50px);
    transition: transform 0.8s $ease-out-quint;

    @include media-breakpoint-up(md) {
      width: 1100px;
    }

    &:not(.swiper-slide-active) {
      transform: translateY(25px);

      @include media-breakpoint-up(md) {
        transform: translateY(60px);
      }

      .card__content {
        opacity: 0;
      }
    }
  }

  .swiper-ui {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

    @include media-breakpoint-up(md) {
      margin-top: 45px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: relative;
    top: 0;
    left: 0;
    width: 45px;
    height: 15px;
    margin: 0;
    background: none;

    @include media-breakpoint-up(md) {
      width: 70px;
    }

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      background: #222;
    }

    &::after {
      width: 6px;
      transform: rotate(-45deg);
      transform-origin: left center;

      @include media-breakpoint-up(md) {
        width: 11px;
      }
    }
  }

  .swiper-button-next {
    transform: scaleX(-1);
  }

  .swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 20px;

    @include media-breakpoint-up(md) {
      margin: 0 33px;
    }
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #ececec;
    opacity: 1;

    @include media-breakpoint-up(md) {
      width: 14px;
      height: 14px;
      margin: 0 7px;
    }
  }

  .swiper-pagination-bullet-active {
    background: $color-primary;
  }

  .card {
    position: relative;
    display: block;

    @each $key, $color in $category-colors {
      &--#{$key} .card__category {
        border-color: $color;
      }
    }

    @include media-breakpoint-up(md) {
      overflow: hidden;
      border-radius: 10px;
    }

    &__category {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 1;
      box-sizing: border-box;
      width: 30px;
      padding: 10px;
      font-size: 11px;
      font-weight: 600;
      line-height: 1.4;
      word-break: break-all;
      background: #fff;
      border-top: 4px solid;

      @include media-breakpoint-up(md) {
        top: 30px;
        left: 40px;
        width: 50px;
        padding: 20px 17px;
        font-size: 18px;
      }
    }

    &__image {
      position: relative;
      overflow: hidden;
      background: #fff;
      border-radius: 5px;

      @include media-breakpoint-up(md) {
        border-radius: 0;
      }

      &::before {
        display: block;
        width: 100%;
        padding-bottom: 353 / 650 * 100%;
        content: '';
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.4s $ease-out-quint;
        object-fit: cover;
      }
    }

    &__content {
      padding: 18px 10px 0;
      font-weight: 600;
      transition: opacity 0.8s $ease-out-quint;

      @include media-breakpoint-up(md) {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        box-sizing: border-box;
        width: 100%;
        padding: 25px 35px 30px;
        color: #fff;
        background: rgba(#000, 0.35);
      }

      .date {
        margin-bottom: 10px;
        font-size: 9px;
        line-height: 1;

        @include media-breakpoint-up(md) {
          margin-bottom: 13px;
          font-size: 12px;
        }
      }

      .text {
        font-size: 15px;
        line-height: 1.53;

        @include media-breakpoint-up(md) {
          width: 570px;
          font-size: 18px;
          line-height: 1.77;
        }
      }
    }

    &:hover {
      @include media-breakpoint-up(md) {
        .card__image img {
          opacity: 0.8;
          transition: transform 1s $ease-out-quint, opacity 0.4s $ease-out-quint;
          transform: scale(1.03);
        }
      }
    }
  }
}

.mv-category {
  background: #fff;

  .swiper-container {
    padding: 25px 0;

    @include media-breakpoint-up(md) {
      width: 1200px;
      padding: 40px 0;
      margin: 0 auto;
    }
  }

  .swiper-wrapper {
    padding: 0 25px;

    @include media-breakpoint-up(md) {
      padding: 0;
    }
  }

  .swiper-slide {
    position: relative;
    width: 106px;

    @include media-breakpoint-up(md) {
      width: 16.66%;
    }

    &:not(:first-child)::before {
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 0;
      width: 1px;
      margin: auto;
      content: '';
      background: #e9e9e9;

      @include media-breakpoint-up(md) {
        top: 8px;
        bottom: 8px;
      }
    }

    &:last-child {
      @include media-breakpoint-down(sm) {
        margin-right: 50px;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    background: #e4e4e4;
    border-radius: 50%;

    @include media-breakpoint-up(md) {
      display: none;
    }

    &::before {
      font-size: 8px;
      line-height: 1;
      color: #fff;
      content: '＜';
    }

    &.swiper-button-disabled {
      opacity: 0;
    }
  }

  .swiper-button-next {
    transform: scaleX(-1);
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;

    @include media-breakpoint-up(md) {
      height: 98px;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 11px;
      font-weight: 600;

      @include media-breakpoint-up(md) {
        position: relative;
        padding: 10px 0;
        font-size: 15px;

        &::before {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          margin: auto;
          content: '';
          background: #222;
          transition: 0.3s;
        }
      }
    }

    &:hover .link__inner::before {
      @include media-breakpoint-up(md) {
        width: 100%;
      }
    }

    &__icon {
      width: auto;
      height: 25px;
      margin-bottom: 15px;

      @include media-breakpoint-up(md) {
        height: 36px;
        margin-bottom: 20px;
      }
    }
  }
}
