<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>オルラボ｜自分らしく楽しめる暮らしのメディア</title>
  <meta name="description" content="自分らしく楽しめる暮らしを発見できる、オールハウスのオルラボ。住まいと暮らしのヒントになる情報を発信しています。">

  <meta property="og:title" content="オルラボ｜自分らしく楽しめる暮らしのメディア">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:url" content="https://orulab.allhouse.co.jp/">
  <meta property="og:description" content="自分らしく楽しめる暮らしを発見できる、オールハウスのオルラボ。住まいと暮らしのヒントになる情報を発信しています。">
  <meta name="twitter:card" content="summary">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include('/gtm-head') %>

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/about/style.css">
</head>

<body>

  <%- include('/gtm-body') %>

  <div class="l-page">

    <!--#include virtual="/assets/includes/header.inc"-->

    <div class="l-content">
      <main class="l-main">
        <section class="section">
          <h1 class="section__heading">ABOUT</h1>
          <p class="text">
            あなたらしく楽しめる空間は、暮らしを豊かにしてくれる。<br>
            そこはお気に入りのカフェだったり、<br class="u-d-md-none">
            家のキッチンだったり、人それぞれ。<br>
            楽しい暮らしのお手本に。<br>
            ワクワクできる場所探しに。<br>
            あなたらしく楽しめる暮らしを発見できる"オルラボ"。<br>
            新しい暮らし、ここでみつけてみませんか。
          </p>
        </section>

        <section class="section">
          <h2 class="section__heading">COMPANY</h2>
          <p class="text">
            オールハウスは「未来のくらし　楽しく　シンプルに」をコーポレートスローガンに掲げる総合不動産会社です。<br>
            「注文住宅」「不動産売買」「不動産賃貸」「リフォーム」「賃貸管理」といった<br class="u-d-none u-d-md-block">「住まい」に関する事をワンストップでお手伝いしています。<br>
            理想の住まいづくりをカタチにし、笑顔になれる住まいと街の実現を目指します。
          </p>

          <table class="table">
            <tr class="table__row">
              <th class="table__heading">会社名</th>
              <td class="table__text">オールハウス株式会社</td>
            </tr>
            <tr class="table__row">
              <th class="table__heading">代表者</th>
              <td class="table__text">代表取締役社長　原田 尚明 </td>
            </tr>
            <tr class="table__row">
              <th class="table__heading">本社所在地</th>
              <td class="table__text">〒735-0012 広島県安芸郡府中町八幡1丁目4-23</td>
            </tr>
            <tr class="table__row">
              <th class="table__heading">電話番号</th>
              <td class="table__text">082-890-1002</td>
            </tr>
            <tr class="table__row">
              <th class="table__heading">FAX番号</th>
              <td class="table__text">082-890-1003</td>
            </tr>
            <tr class="table__row">
              <th class="table__heading">設立</th>
              <td class="table__text">1976年7月1日 </td>
            </tr>
            <tr class="table__row">
              <th class="table__heading">資本金</th>
              <td class="table__text">10,000,000円</td>
            </tr>
            <!-- <tr class="table__row">
              <th class="table__heading">従業員</th>
              <td class="table__text">従業員53名（2019年10月時点）</td>
            </tr>
            <tr class="table__row">
              <th class="table__heading">定休日</th>
              <td class="table__text">水曜日</td>
            </tr> -->
            <tr class="table__row">
              <th class="table__heading">事業内容</th>
              <td class="table__text">
                ■建築事業<br>
                ビル建設、注文建築、マンション・アパート建設、建設設計・管理業務<br>
                ■売買事業<br>
                土地開発分譲、住宅分譲、不動産買取業務、不動産コンサルティング、売買仲介、競売コンサルティング<br>
                ■リフォーム事業<br>
                住宅リフォーム、リノベーション工事、設計・管理業務<br>
                ■賃貸事業<br>
                不動産賃貸及び仲介、マンスリー・ウィークリー事業<br>
                ■プロパティマネジメント事業<br>
                賃貸不動産の総合管理、駐車場・コインパーキングの総合管理、不動産資産活用コンサルティング、 サブリース事業<br>
                ■その他<br>
                相続コンサルティング、保険事業
              </td>
            </tr>
            <tr class="table__row">
              <th class="table__heading">関連会社</th>
              <td class="table__text">MILIFEPLUS株式会社、クラステック株式会社</td>
            </tr>
            <tr class="table__row">
              <th class="table__heading">加盟団体</th>
              <td class="table__text">
                社団法人 宅地建物取引業協会<br>
                社団法人 全国宅地建物業保証協会<br>
                財団法人 性能保証住宅登録機構<br>
                あいおいニッセイ同和損害保険株式会社<br>
                代理店財団法人 日本賃貸住宅管理協会<br>
                社団法人 全国賃貸住宅経営協会<br>
                全国賃貸管理ビジネス協会<br>
                一般社団法人 住環境測定協会<br>
                日本住宅保証検査機構(JIO)
              </td>
            </tr>
            <tr class="table__row">
              <th class="table__heading">関連団体</th>
              <td class="table__text">一般社団法人 住環境測定協会</td>
            </tr>
            <tr class="table__row">
              <th class="table__heading">登録</th>
              <td class="table__text">
                建設業登録 広島県知事許可(般-27)第27978号<br>
                1級建築士事務所登録 広島県知事登録16(1)第5<br>
                宅地建物取引業登録 広島県知事(12)第3627号
              </td>
            </tr>
          </table>
        </section>

        <section class="section">
          <h2 class="section__heading">ACCESS MAP</h2>
          <div class="map">
            <iframe allowfullscreen="" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDj_NmMTrgN8s8RaLNjtmeNE4CJub7QNe4&amp;q=広島県安芸郡府中町八幡1丁目4-23"></iframe>
          </div>
        </section>

        <section class="section">
          <h2 class="section__heading">OFFICES</h2>

          <div class="office-list">
            <div class="office">
              <h3 class="office__name">オールハウス本店</h3>
              <table class="table">
                <tr class="table__row">
                  <th class="table__heading">営業時間</th>
                  <td class="table__text">9:00~18:00</td>
                </tr>
                <tr class="table__row">
                  <th class="table__heading">定休日</th>
                  <td class="table__text">なし</td>
                </tr>
                <tr class="table__row">
                  <th class="table__heading">所在地</th>
                  <td class="table__text">〒735-0012 広島県安芸郡府中町八幡1丁目4-23</td>
                </tr>
                <tr class="table__row">
                  <th class="table__heading">電話番号</th>
                  <td class="table__text">082-236-8948</td>
                </tr>
                <tr class="table__row">
                  <th class="table__heading">FAX番号</th>
                  <td class="table__text">082-546-9077</td>
                </tr>
              </table>
              <div class="map">
                <iframe allowfullscreen="" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDj_NmMTrgN8s8RaLNjtmeNE4CJub7QNe4&amp;q=広島県安芸郡府中町八幡1丁目4-23"></iframe>
              </div>
            </div><!-- .office -->

            <div class="office">
              <h3 class="office__name">オールハウス段原店</h3>
              <table class="table">
                <tr class="table__row">
                  <th class="table__heading">営業時間</th>
                  <td class="table__text">9:00~18:00</td>
                </tr>
                <tr class="table__row">
                  <th class="table__heading">定休日</th>
                  <td class="table__text">水曜日</td>
                </tr>
                <tr class="table__row">
                  <th class="table__heading">所在地</th>
                  <td class="table__text">〒732-0814 広島市南区段原南1丁目2-15</td>
                </tr>
                <tr class="table__row">
                  <th class="table__heading">電話番号</th>
                  <td class="table__text">082-568-2935</td>
                </tr>
                <tr class="table__row">
                  <th class="table__heading">FAX番号</th>
                  <td class="table__text">082-568-2936</td>
                </tr>
              </table>
              <div class="map">
                <iframe allowfullscreen="" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDj_NmMTrgN8s8RaLNjtmeNE4CJub7QNe4&amp;q=広島市南区段原南１丁目2-15"></iframe>
              </div>
            </div><!-- .office -->

            <div class="office">
              <h3 class="office__name">オールハウス西広島店</h3>
              <table class="table">
                <tr class="table__row">
                  <th class="table__heading">営業時間</th>
                  <td class="table__text">9:00~18:00</td>
                </tr>
                <tr class="table__row">
                  <th class="table__heading">定休日</th>
                  <td class="table__text">水曜日</td>
                </tr>
                <tr class="table__row">
                  <th class="table__heading">所在地</th>
                  <td class="table__text">〒733-0812 広島県広島市西区己斐本町1丁目25-11 八宝ビル1F</td>
                </tr>
                <tr class="table__row">
                  <th class="table__heading">電話番号</th>
                  <td class="table__text">082-275-5557</td>
                </tr>
                <tr class="table__row">
                  <th class="table__heading">FAX番号</th>
                  <td class="table__text">082-275-5122</td>
                </tr>
              </table>
              <div class="map">
                <iframe allowfullscreen="" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDj_NmMTrgN8s8RaLNjtmeNE4CJub7QNe4&amp;q=広島県広島市西区己斐本町1丁目25-11"></iframe>
              </div>
            </div><!-- .office -->
          </div><!-- .office-list -->
        </section>
      </main><!-- .l-main -->

      <!--#include virtual="/assets/includes/side.inc.php"-->
    </div><!-- .l-content -->

    <div class="c-bread-crumbs">
      <ul class="bread-crumbs-list">
        <li class="bread-crumbs-list__item"><a href="/">TOP</a></li>
        <li class="bread-crumbs-list__item">ABOUT</li>
      </ul>
    </div>

    <!--#include virtual="/assets/includes/footer.inc"-->

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>

</body>

</html>
