<!-- htmlhint spec-char-escape: false, tag-pair: false (PHP コードを埋め込むため) -->
<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>オルラボ｜自分らしく楽しめる暮らしのメディア</title>
  <meta name="description" content="自分らしく楽しめる暮らしを発見できる、オールハウスのオルラボ。住まいと暮らしのヒントになる情報を発信しています。">

  <meta property="og:title" content="オルラボ｜自分らしく楽しめる暮らしのメディア">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:url" content="https://orulab.allhouse.co.jp/">
  <meta property="og:description" content="自分らしく楽しめる暮らしを発見できる、オールハウスのオルラボ。住まいと暮らしのヒントになる情報を発信しています。">
  <meta name="twitter:card" content="summary">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include('/gtm-head') %>

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/index/style.css">
</head>

<body>

  <%- include('/gtm-body') %>

  <div class="l-page">

    <?php include(dirname(__FILE__)."/assets/includes/header.inc"); ?>

    <?php if( call_user_func( $mvDataList["has"])): ?>
    <div class="mv">
      <div class="swiper-container" id="js-mv-slider">
        <div class="swiper-wrapper">

          <?php call_user_func( $mvDataList["done"], function($item, $cnt, $page, $helper, $index){ ?>
          <div class="swiper-slide">
            <a <?php echo($item->getLinkParam()); ?> class="card card--<?php echo($item->getCategoryClass()); ?>">
              <div class="card__category"><?php echo($item->getCategoryName()); ?></div>
              <div class="card__image"><img src="<?php echo($item->getThumbImage()); ?>" alt="" data-object-fit></div>
              <div class="card__content">
                <p class="date"><?php echo($item->getOutputDate('Y.m.d')); ?></p>
                <p class="text"><?php echo($item->title); ?></p>
              </div>
            </a>
          </div>
          <?php }, false); ?>
        </div>

        <div class="swiper-ui">
          <button class="swiper-button-prev"></button>
          <div class="swiper-pagination"></div>
          <button class="swiper-button-next"></button>
        </div>
      </div>
    </div>
    <?php endif; ?>

    <div class="mv-category">
      <div class="swiper-container" id="js-mv-category">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="/house/" class="link">
              <span class="link__inner">
                <img src="/assets/images/pages/index/icon_category01.svg" alt="" class="link__icon">
                <span class="link__text">建てる</span>
              </span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/renovation/" class="link">
              <span class="link__inner">
                <img src="/assets/images/pages/index/icon_category02.svg" alt="" class="link__icon">
                <span class="link__text">リノベする</span>
              </span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/interior/" class="link">
              <span class="link__inner">
                <img src="/assets/images/pages/index/icon_category03.svg" alt="" class="link__icon">
                <span class="link__text">インテリア</span>
              </span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/life/" class="link">
              <span class="link__inner">
                <img src="/assets/images/pages/index/icon_category04.svg" alt="" class="link__icon">
                <span class="link__text">暮らしのQ&A</span>
              </span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/hiroshima/" class="link">
              <span class="link__inner">
                <img src="/assets/images/pages/index/icon_category05.svg" alt="" class="link__icon">
                <span class="link__text">広島の街</span>
              </span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/lifestyle/" class="link">
              <span class="link__inner">
                <img src="/assets/images/pages/index/icon_category06.svg" alt="" class="link__icon">
                <span class="link__text">ライフスタイル</span>
              </span>
            </a>
          </div>
        </div>
        <button class="swiper-button-prev"></button>
        <button class="swiper-button-next"></button>
      </div>
    </div>

    <div class="l-content">
      <main class="l-main">
        <?php if( call_user_func( $dataList["has"])): ?>
        <ul class="l-grid">

          <?php call_user_func( $dataList["done"], function($item, $cnt, $page, $helper, $index){ ?>
          <li class="l-grid__item">
            <a <?php echo($item->getLinkParam()); ?> class="c-article-card c-article-card--<?php echo($item->getCategoryClass()); ?>">
              <p class="c-article-card__category"><?php echo($item->getCategoryName()); ?></p>
              <div class="c-article-card__image"><img src="<?php echo($item->getThumbImage()); ?>" alt="" data-object-fit></div>
              <div class="c-article-card__content">
                <p class="date"><?php echo($item->getOutputDate('Y.m.d')); ?></p>
                <p class="text"><?php echo($item->title); ?></p>
              </div>
            </a>
          </li>
          <?php }, false); ?>

        </ul>
        <?php echo($pages ); ?>
        <?php else: ?>
        <p>新しい情報はありません。</p>
        <?php endif; ?>

        <div class="banner">
          <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6194676272576947" data-ad-slot="3373010865" data-ad-format="auto" data-full-width-responsive="true"></ins>
          <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
      </main><!-- .l-main -->

      <?php include(dirname(__FILE__)."/assets/includes/side.inc"); ?>
    </div><!-- .l-content -->

    <?php include(dirname(__FILE__)."/assets/includes/footer.inc"); ?>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>
  <script src="/assets/scripts/pages/index.js" defer></script>

</body>

</html>
