<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>オルラボ｜自分らしく楽しめる暮らしのメディア</title>
  <meta name="description" content="自分らしく楽しめる暮らしを発見できる、オールハウスのオルラボ。住まいと暮らしのヒントになる情報を発信しています。">

  <meta property="og:title" content="オルラボ｜自分らしく楽しめる暮らしのメディア">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:url" content="https://orulab.allhouse.co.jp/">
  <meta property="og:description" content="自分らしく楽しめる暮らしを発見できる、オールハウスのオルラボ。住まいと暮らしのヒントになる情報を発信しています。">
  <meta name="twitter:card" content="summary">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include('/gtm-head') %>

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/index/style.css">
</head>

<body class="page-lifestyle">

  <%- include('/gtm-body') %>

  <div class="l-page">

    <!--#include virtual="/assets/includes/header.inc"-->

    <div class="mv">
      <div class="swiper-container" id="js-mv-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="card card--renovation">
              <div class="card__category">リノベする</div>
              <div class="card__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt="" data-object-fit></div>
              <div class="card__content">
                <p class="date">2020.04.10</p>
                <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card card--house">
              <div class="card__category">建てる</div>
              <div class="card__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt="" data-object-fit></div>
              <div class="card__content">
                <p class="date">2020.04.10</p>
                <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card card--interior">
              <div class="card__category">インテリア</div>
              <div class="card__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt="" data-object-fit></div>
              <div class="card__content">
                <p class="date">2020.04.10</p>
                <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
              </div>
            </a>
          </div>
        </div>

        <div class="swiper-ui">
          <button class="swiper-button-prev"></button>
          <div class="swiper-pagination"></div>
          <button class="swiper-button-next"></button>
        </div>
      </div>
    </div>

    <div class="mv-category">
      <div class="swiper-container" id="js-mv-category">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="/house/" class="link">
              <span class="link__inner">
                <img src="/assets/images/pages/index/icon_category01.svg" alt="" class="link__icon">
                <span class="link__text">建てる</span>
              </span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/renovation/" class="link">
              <span class="link__inner">
                <img src="/assets/images/pages/index/icon_category02.svg" alt="" class="link__icon">
                <span class="link__text">リノベする</span>
              </span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/interior/" class="link">
              <span class="link__inner">
                <img src="/assets/images/pages/index/icon_category03.svg" alt="" class="link__icon">
                <span class="link__text">インテリア</span>
              </span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/life/" class="link">
              <span class="link__inner">
                <img src="/assets/images/pages/index/icon_category04.svg" alt="" class="link__icon">
                <span class="link__text">暮らしのQ&A</span>
              </span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/hiroshima/" class="link">
              <span class="link__inner">
                <img src="/assets/images/pages/index/icon_category05.svg" alt="" class="link__icon">
                <span class="link__text">広島の街</span>
              </span>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/lifestyle/" class="link">
              <span class="link__inner">
                <img src="/assets/images/pages/index/icon_category06.svg" alt="" class="link__icon">
                <span class="link__text">ライフスタイル</span>
              </span>
            </a>
          </div>
        </div>
        <button class="swiper-button-prev"></button>
        <button class="swiper-button-next"></button>
      </div>
    </div>

    <div class="l-content">
      <main class="l-main">
        <ul class="l-grid">
          <li class="l-grid__item">
            <a href="#" class="c-article-card c-article-card--house">
              <p class="c-article-card__category">建てる</p>
              <div class="c-article-card__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt="" data-object-fit></div>
              <div class="c-article-card__content">
                <p class="date">2020.04.10</p>
                <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認</p>
              </div>
            </a>
          </li>
          <li class="l-grid__item">
            <a href="#" class="c-article-card c-article-card--renovation">
              <p class="c-article-card__category">リノベする</p>
              <div class="c-article-card__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt="" data-object-fit></div>
              <div class="c-article-card__content">
                <p class="date">2020.04.10</p>
                <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認</p>
              </div>
            </a>
          </li>
          <li class="l-grid__item">
            <a href="#" class="c-article-card c-article-card--interior">
              <p class="c-article-card__category">インテリア</p>
              <div class="c-article-card__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt="" data-object-fit></div>
              <div class="c-article-card__content">
                <p class="date">2020.04.10</p>
                <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認</p>
              </div>
            </a>
          </li>
          <li class="l-grid__item">
            <a href="#" class="c-article-card c-article-card--life">
              <p class="c-article-card__category">暮らしのQ&A</p>
              <div class="c-article-card__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt="" data-object-fit></div>
              <div class="c-article-card__content">
                <p class="date">2020.04.10</p>
                <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認</p>
              </div>
            </a>
          </li>
          <li class="l-grid__item">
            <a href="#" class="c-article-card c-article-card--hiroshima">
              <p class="c-article-card__category">広島の街</p>
              <div class="c-article-card__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt="" data-object-fit></div>
              <div class="c-article-card__content">
                <p class="date">2020.04.10</p>
                <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認</p>
              </div>
            </a>
          </li>
          <li class="l-grid__item">
            <a href="#" class="c-article-card c-article-card--renovation">
              <p class="c-article-card__category">リノベする</p>
              <div class="c-article-card__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt="" data-object-fit></div>
              <div class="c-article-card__content">
                <p class="date">2020.04.10</p>
                <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認</p>
              </div>
            </a>
          </li>
          <li class="l-grid__item">
            <a href="#" class="c-article-card c-article-card--renovation">
              <p class="c-article-card__category">リノベする</p>
              <div class="c-article-card__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt="" data-object-fit></div>
              <div class="c-article-card__content">
                <p class="date">2020.04.10</p>
                <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認</p>
              </div>
            </a>
          </li>
          <li class="l-grid__item">
            <a href="#" class="c-article-card c-article-card--renovation">
              <p class="c-article-card__category">リノベする</p>
              <div class="c-article-card__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt="" data-object-fit></div>
              <div class="c-article-card__content">
                <p class="date">2020.04.10</p>
                <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認</p>
              </div>
            </a>
          </li>
          <li class="l-grid__item">
            <a href="#" class="c-article-card c-article-card--renovation">
              <p class="c-article-card__category">リノベする</p>
              <div class="c-article-card__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt="" data-object-fit></div>
              <div class="c-article-card__content">
                <p class="date">2020.04.10</p>
                <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認</p>
              </div>
            </a>
          </li>
          <li class="l-grid__item">
            <a href="#" class="c-article-card c-article-card--renovation">
              <p class="c-article-card__category">リノベする</p>
              <div class="c-article-card__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt="" data-object-fit></div>
              <div class="c-article-card__content">
                <p class="date">2020.04.10</p>
                <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認</p>
              </div>
            </a>
          </li>
          <li class="l-grid__item">
            <a href="#" class="c-article-card c-article-card--renovation">
              <p class="c-article-card__category">リノベする</p>
              <div class="c-article-card__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt="" data-object-fit></div>
              <div class="c-article-card__content">
                <p class="date">2020.04.10</p>
                <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認</p>
              </div>
            </a>
          </li>
          <li class="l-grid__item">
            <a href="#" class="c-article-card c-article-card--renovation">
              <p class="c-article-card__category">リノベする</p>
              <div class="c-article-card__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt="" data-object-fit></div>
              <div class="c-article-card__content">
                <p class="date">2020.04.10</p>
                <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認</p>
              </div>
            </a>
          </li>
        </ul>

        <div class="c-pager">
          <p class="c-pager__prev"><a><span class="u-sr-only">前へ</span></a></p>
          <ul class="c-pager__pagination">
            <li class="page"><a>1</a></li>
            <li class="page"><a href="#">2</a></li>
            <li class="page"><a href="#">3</a></li>
            <li class="ellipsis">...</li>
            <li class="page"><a href="#">99</a></li>
          </ul>
          <p class="c-pager__next"><a href="#"><span class="u-sr-only">次へ</span></a></p>
        </div>

        <div class="banner">
          <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6194676272576947" data-ad-slot="3373010865" data-ad-format="auto" data-full-width-responsive="true"></ins>
          <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
      </main><!-- .l-main -->

      <!--#include virtual="/assets/includes/side.inc"-->
    </div><!-- .l-content -->

    <!--#include virtual="/assets/includes/footer.inc"-->

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>
  <script src="/assets/scripts/pages/index.js" defer></script>

</body>

</html>
