@charset "utf-8";

/*-----------------------------------------------------
Main -pc-
-------------------------------------------------------*/
/* menu
---------------------*/
#Pc #Main .section .menu{
	width:100%;
	overflow:hidden;
	margin:-10px 0 30px 0;
}
#Pc #Main .section .item{
	overflow:hidden;
	background:url("../images/common/table_bg_border.gif") repeat-x 0 100%;
	padding:30px 0;
}
#Pc #Main .section .item-name{
	font-weight:bold;
	margin-bottom:8px;
	font-size:109%;
}
#Pc #Main .section .menu figure{
	width:108px;
	float:left;
	display:inline;
	position:relative;
	margin:0 20px 0 0;
	text-align:center;
}

/*-----------------------------------------------------
Main -smp-
-------------------------------------------------------*/
/* name
---------------------*/
#Smp #Main .section .name{
	margin:10px 10px 15px 10px;
	padding:0 0 0 18px;
	background:url("../images/common/side_ico_name.gif") no-repeat 0 2px;
}

/* GlobalNav
---------------------*/
#Smp #Main .section .menu{
	width:100%;
	overflow:hidden;
        margin-bottom:30px;
	border-top:1px solid #a4b4c4;
}
#Smp #Main .section .menu dt{
	width:100%;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #a4b4c4;
	
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#f0f7ff),to(#e4edfd));
	background-image:-webkit-linear-gradient(top,#f0f7ff,#e4edfd);
	background-image:-moz-linear-gradient(top,#f0f7ff,#e4edfd);
	background-image:-ms-linear-gradient(top,#f0f7ff,#e4edfd);
	background-image:-o-linear-gradient(top,#f0f7ff,#e4edfd);
	-pie-background-image:linear-gradient(top,#f0f7ff,#e4edfd);
}
#Smp #Main .section .menu .active dt{
	border-top:1px solid #a8ccf2;
	border-bottom:1px solid #4978af;
	
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#5288C7),to(#45ABEB));
	background-image:-webkit-linear-gradient(top,#5288C7,#45ABEB);
	background-image:-moz-linear-gradient(top,#5288C7,#45ABEB);
	background-image:-ms-linear-gradient(top,#5288C7,#45ABEB);
	background-image:-o-linear-gradient(top,#5288C7,#45ABEB);
	-pie-background-image:linear-gradient(top,#5288C7,#45ABEB);
}

#Smp #Main .section .menu dt a{
	display:block;
	padding:10px 0 10px 0;
	color:#343c47;
	cursor:pointer;
	text-decoration:none;
	background-size:9px 13px;
	background-repeat:no-repeat;
	background-position:97% 50%;
	background-image:url("../../images/smp/nav_ico_arrow.gif");
}
#Smp #Main .section .menu .active dt a{
	color:#FFFFFF;
}
#Smp #Main .section .menu dt a span,
#Smp #Main .section .menu dd a span{
	display:block;
	padding:0 0 0 35px;
	background-size:17px 15px;
	background-repeat:no-repeat;
	background-position:10px 49%;
}

#Smp #Main .section .menu dd{
	display:none;
}
#Smp #Main .section .menu .active dd{
	display:block;
}

#Smp #Main .section .menu dt a{
	background-size:26px 26px;
	background-position:99% 50%;
	background-image:url("../images/smp/nav_ico_arrow_slide.png");
}
#Smp #Main .section .menu .active dt a{
	background-image:url("../images/smp/nav_ico_arrow_slide_on.png");
}

#Smp #Main .section .menu dt a span{
	background-size:17px 15px;
	background-image:url("../images/smp/side_ico.png");
}
#Smp #Main .section .menu .active dt a span{
	background-image:url("../images/smp/side_ico_on.png");
}
#Smp #Main .section .menu dd{
	width:100%;
	border-top:1px solid #6d747d;
	border-bottom:1px solid #393f48;
	background:url("../images/common/globalnav_bg.gif") repeat 0 0;
}
#Smp #Main .section .menu dd a{
	width:100%;
	display:block;
	padding:7px 0 7px 0;
	color:#FFFFFF;
	cursor:pointer;
	text-decoration:none;
	background-size:9px 13px;
	background-repeat:no-repeat;
	background-position:97% 50%;
	background-image:url("../images/smp/nav_ico_arrow_sub.gif");
}

#Smp #Main .section .menu dd.list a span{background-image:url("../images/smp/side_ico_list_on.png");}
#Smp #Main .section .menu dd.news a span{background-image:url("../images/smp/side_ico_news_on.png");}
#Smp #Main .section .menu dd.category a span{background-image:url("../images/smp/side_ico_category_on.png");}
#Smp #Main .section .menu dd.account a span{background-image:url("../images/smp/side_ico_account_on.png");}
#Smp #Main .section .menu dd.media a span{background-image:url("../images/smp/side_ico_media_on.png");}



/* list
---------------------*/
/* list-haed */
#Smp #Main .list-haed{
	width:100%;
	height:40px;
	line-height:40px;
	font-size:108%;
	background:url("../images/index/main_list_bg.gif") repeat-x 0 0;
}
#Smp #Main .list-haed h2{
	float:left;
	display:inline;
	margin:0 0 0 10px;
	font-weight:block;
	color:#FFFFFF;
	text-shadow:0 2px 2px #1b1c24;
}
#Smp #Main .list-haed p{
	width:60px;
	height:30px;
	float:right;
	display:inline;
	margin:4px 10px 0 0;
	border:1px solid #3e4553;
	
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	
	box-shadow:0 0 1px #4a515b;
	-moz-box-shadow:0 0 1px #4a515b;
	-webkit-box-shadow:0 0 1px #4a515b;
	-o-box-shadow:0 0 1px #4a515b;
	-ms-box-shadow:0 0 1px #4a515b;
	
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#474f5d),color-stop(49%,#434a58),color-stop(51%,#333545),color-stop(100%,#2a2939));
	background-image:-webkit-linear-gradient(top,#474f5d 0%,#434a58 49%,#333545 51%,#2a2939 100%);
	background-image:-moz-linear-gradient(top,#474f5d 0%,#434a58 49%,#333545 51%,#2a2939 100%);
	background-image:-ms-linear-gradient(top,#474f5d 0%,#434a58 49%,#333545 51%,#2a2939 100%);
	background-image:-o-linear-gradient(top,#474f5d 0%,#434a58 49%,#333545 51%,#2a2939 100%);
	-pie-background-image:linear-gradient(top,#474f5d 0%,#434a58 49%,#333545 51%,#2a2939 100%);
}
#Smp #Main .list-haed p a{
	width:100%;
	height:30px;
	display:block;
	line-height:30px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
}
/* list-type01 */
#Smp #Main .list-type01{
	width:100%;
}
#Smp #Main .list-type01 li{
	padding:10px;
	border-bottom:1px solid #a4b4c4;
	background:url("../images/index/list_ico_arrow.gif") no-repeat 97% 50%;
	background-size:9px 13px;
}
#Smp #Main .list-type01 li.last{
	border:none;
}
#Smp #Main .list-type01 li a{
	display:block;
	margin:0 15px 0 0;
}
#Smp #Main .list-type01 li time{
	padding:0 15px 0 20px;
	background:url(../images/smp/ico_date.png) no-repeat 0 50%;
	background-size:17px 15px;
}
#Smp #Main .list-type01 li span{
	padding:0 15px 0 20px;
	background:url(../images/smp/side_ico_category.png) no-repeat 0 50%;
	background-size:17px 15px;
}

/*-----------------------------------------------------
Side -smp-
-------------------------------------------------------*/
/* name
---------------------*/
#Smp #Side {
    display:none;
}