<!-- adsense -->
<script data-ad-client="ca-pub-6194676272576947" async src="https://pagead2.googlesyndication.com/pagead/js/
adsbygoogle.js"></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MP6VKPP');</script>
<!-- End Google Tag Manager -->
