.article-pager {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin-top: 30px;
  border: solid #e4e4e4;
  border-width: 1px 0;

  @include media-breakpoint-up(md) {
    height: 90px;
    margin-top: 40px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;

    @include media-breakpoint-up(md) {
      height: 45px;
      transition: 0.3s;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__prev,
  &__next {
    img {
      @include media-breakpoint-up(md) {
        width: auto;
        height: 12px;
      }
    }
  }

  &__list {
    img {
      @include media-breakpoint-up(md) {
        width: auto;
        height: 14px;
      }
    }
  }
}
