.article {
  position: relative;

  &__image {
    position: relative;
    margin: -30px -25px 18px;

    @include media-breakpoint-up(md) {
      margin: 10px 0 35px;
      overflow: hidden;
      border-radius: 10px;
    }

    &::before {
      display: block;
      width: 100%;
      padding-bottom: 353 / 650 * 100%;
      content: '';
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .share {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;

    @include media-breakpoint-up(md) {
      margin-top: 50px;
    }

    &__title {
      margin-right: 12px;
      font-size: 9px;
      font-weight: 600;

      @include media-breakpoint-up(md) {
        margin-right: 24px;
        font-size: 12px;
      }
    }

    .button {
      margin-right: 3px;

      @include media-breakpoint-up(md) {
        margin-right: 7px;

        img {
          width: 35px;
          height: auto;
          transition: 0.3s;
        }

        a:hover img {
          opacity: 0.8;
        }
      }
    }

    iframe {
      margin-left: 10px;

      @include media-breakpoint-up(md) {
        margin-left: 20px;
      }
    }
  }

  &__header {
    margin-bottom: 50px;

    @include media-breakpoint-up(md) {
      margin-bottom: 70px;
    }

    .date {
      margin-bottom: 10px;
      font-size: 9px;
      font-weight: 600;
      line-height: 1;

      @include media-breakpoint-up(md) {
        margin-bottom: 15px;
        font-size: 12px;
      }
    }

    .title {
      margin-bottom: 20px;
      font-size: 15px;
      font-weight: 600;
      line-height: 1.53;

      @include media-breakpoint-up(md) {
        margin-bottom: 28px;
        font-size: 22px;
        line-height: 1.63;
      }
    }

    .grid {
      display: flex;
      justify-content: space-between;
    }

    .category {
      padding: 7px 11px 7px 14px;
      font-size: 10px;
      font-weight: 600;
      line-height: 1;
      background: #fff;
      border-left: 4px solid;

      @include media-breakpoint-up(md) {
        padding: 8px 20px 8px 18px;
        font-size: 14px;
        border-width: 6px;
      }
    }

    .share {
      margin-top: 0;

      @include media-breakpoint-up(md) {
        margin-top: 0;
      }
    }

    .keyword {
      margin-top: 30px;

      @include media-breakpoint-up(md) {
        display: flex;
        margin-top: 60px;
      }

      &__title {
        margin-bottom: 15px;

        @include media-breakpoint-up(md) {
          margin: 0 40px 0 0;
          line-height: 1;

          img {
            width: auto;
            height: 26px;
          }
        }
      }

      .tag-list {
        display: flex;
        flex-wrap: wrap;
        margin-right: -5px;

        @include media-breakpoint-up(md) {
          margin: -10px -10px 0 0;
        }

        &__item {
          margin: 5px 5px 0 0;

          @include media-breakpoint-up(md) {
            margin: 10px 10px 0 0;
          }

          a {
            display: block;
            padding: 6px 10px;
            font-size: 10px;
            font-weight: 600;
            line-height: 1;
            background: #fff;
            border: 1px solid #e9e9e9;
            border-radius: 5px;

            @include media-breakpoint-up(md) {
              padding: 8px 14px;
              font-size: 12px;
              border-radius: 10px;

              &:hover {
                background: #f1f1f1;
              }
            }
          }
        }
      }
    }
  }

  .section {
    @include media-breakpoint-up(md) {
      &--grid,
      &--grid-reverse {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 50px;

        .section__inner {
          flex: 0 0 auto;
          width: 380px;
        }

        .image {
          flex: 0 0 auto;
          width: 377px;
          margin: 0;
        }

        .text {
          margin-bottom: 0;
        }
      }

      &--grid-reverse {
        flex-direction: row-reverse;
      }
    }
  }

  .heading1 {
    position: relative;
    padding: 16px 23px;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 700;
    background: $color-primary;
    border-radius: 5px;

    @include media-breakpoint-up(md) {
      padding: 20px 34px;
      margin-bottom: 50px;
      font-size: 18px;
      border-radius: 10px;
    }

    &::before {
      position: absolute;
      bottom: -6px;
      left: 20px;
      width: 0;
      height: 0;
      content: '';
      border: solid transparent;
      border-width: 6px 6px 0;
      border-top-color: $color-primary;

      @include media-breakpoint-up(md) {
        bottom: -9px;
        left: 45px;
        border-width: 9px 9px 0;
      }
    }
  }

  .heading2 {
    padding-bottom: 15px;
    margin-bottom: 18px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 3px solid $color-primary;

    @include media-breakpoint-up(md) {
      padding-bottom: 20px;
      margin-bottom: 23px;
      font-size: 18px;
      border-width: 4px;
    }
  }

  .heading3 {
    position: relative;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 700;

    @include media-breakpoint-up(md) {
      padding-left: 20px;
      margin-bottom: 20px;
      font-size: 18px;
    }

    &::before {
      position: absolute;
      top: 3px;
      bottom: 2px;
      left: 0;
      width: 5px;
      content: '';
      background: $color-primary;

      @include media-breakpoint-up(md) {
        width: 7px;
      }
    }
  }

  .heading4 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;

    @include media-breakpoint-up(md) {
      padding-bottom: 15px;
      margin-bottom: 20px;
      font-size: 18px;
    }
  }

  .text {
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 400;
    line-height: 2.23;

    @include media-breakpoint-up(md) {
      margin-bottom: 50px;
      font-size: 15px;
      line-height: 2.66;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    strong {
      font-weight: 700;
    }

    a {
      color: #2175e0;
      text-decoration: underline;

      @include media-breakpoint-up(md) {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .marker {
    background: linear-gradient(
      to top,
      #ffdb33,
      #ffdb33 55%,
      transparent 55.1%
    );
  }

  .image {
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 5px;

    @include media-breakpoint-up(md) {
      margin-bottom: 50px;
      border-radius: 10px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  table {
    // stylelint-disable-next-line
    width: 100% !important;
  }

  iframe[src*='youtube'] {
    @include media-breakpoint-down(sm) {
      display: block;
      width: 325px;
      height: 182px;
      margin: 0 auto;
    }
  }

  .related {
    position: relative;
    margin-bottom: 40px;

    @each $key, $color in $category-colors {
      &--#{$key} .related__label {
        border-color: $color;
      }
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 70px;
    }

    &__inner {
      @include media-breakpoint-up(md) {
        display: flex;

        &:hover .title {
          text-decoration: underline;
        }
      }
    }

    &__label {
      position: absolute;
      top: -5px;
      left: -5px;
      z-index: 1;
      width: 24px;
      padding: 7px 8px;
      font-size: 8px;
      font-weight: 700;
      line-height: 1.2;
      background: #fff;
      border-top-style: solid;
      border-top-width: 3px;

      @include media-breakpoint-up(md) {
        top: -13px;
        left: -10px;
        width: 49px;
        padding: 16px 17px 18px;
        font-size: 15px;
        border-top-width: 6px;
      }
    }

    &__image {
      position: relative;
      padding-bottom: 367 / 650 * 100%;
      background: no-repeat center / cover;
      border-radius: 5px 5px 0 0;

      @include media-breakpoint-up(md) {
        flex: 0 0 auto;
        width: 190px;
        padding: 0;
        border-radius: 5px 0 0 5px;
      }
    }

    &__content {
      padding: 20px;
      background: #fff;
      border-radius: 0 0 5px 5px;

      @include media-breakpoint-up(md) {
        width: 100%;
        padding: 30px 40px 35px;
        border-radius: 0 10px 10px 0;
      }

      .title {
        font-size: 15px;
        font-weight: 700;
        line-height: 1.6;

        @include media-breakpoint-up(md) {
          line-height: 2;
        }
      }

      .text {
        margin: 10px 0 0;
        font-size: 12px;
        line-height: 1.66;

        @include media-breakpoint-up(md) {
          font-size: 15px;
        }
      }
    }
  }
}

@each $key, $color in $category-colors {
  .page-#{$key} .article__header .category {
    border-color: $color;
  }
}
