.page-hiroshima .l-main {
  &::before,
  &::after {
    content: none;

    @include media-breakpoint-up(md) {
      content: none;
    }
  }

  // .article {
  //   &::before {
  //     @include media-breakpoint-up(md) {
  //       position: fixed;
  //       top: 165px;
  //       left: calc(50% - 660px);
  //       z-index: 1;
  //       width: 55px;
  //       height: 129px;
  //       content: '';
  //       background: url('/assets/images/pages/common/cat.png') no-repeat center/
  //         contain;

  //       @include media-breakpoint-down(1280px) {
  //         left: -19px;
  //       }
  //     }
  //   }

  //   &.deco-stop::before {
  //     @include media-breakpoint-up(md) {
  //       position: absolute;
  //       top: auto;
  //       bottom: 0;
  //       left: -60px;
  //     }
  //   }

  //   &::after {
  //     display: block;
  //     width: 100%;
  //     height: 110px;
  //     margin-top: 23px;
  //     content: '';
  //     background: url('/assets/images/pages/common/cat.png') no-repeat center /
  //         46px auto,
  //       url('/assets/images/pages/common/cat_bg.svg') no-repeat center / 306px
  //         auto;

  //     @include media-breakpoint-up(md) {
  //       position: absolute;
  //       bottom: -22px;
  //       left: -237px;
  //       width: 429px;
  //       height: 136px;
  //       background: url('/assets/images/pages/common/cat_bg.svg') no-repeat
  //         center / contain;
  //     }
  //   }
  // }
}
