.related-articles {
  margin-top: 55px;

  @include media-breakpoint-up(md) {
    margin-top: 80px;
  }

  &__heading {
    padding-bottom: 15px;
    margin-bottom: 28px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    background: url('/assets/images/pages/detail/wave.png') no-repeat center
      bottom / 72px auto;

    @include media-breakpoint-up(md) {
      padding-bottom: 24px;
      margin-bottom: 65px;
      font-size: 25px;
      background-size: 114px auto;
    }
  }
}
