@charset "utf-8";

/*-----------------------------------------------------
Main -common-
-------------------------------------------------------*/


/*-----------------------------------------------------
Main -pc-
-------------------------------------------------------*/


#Pc #Main .section {
	margin:0;
}
/* input
---------------------*/
#Pc #Main .section div.input p{
	margin:5px 0;
}
#Pc #Main .section div.input p span.label{
	font-weight:bold;
	display:inline-block;
	width:120px;
}
/* btn
---------------------*/
#Pc #Main .section div.btn{
	/*width:350px;*/
        width:160px;
	margin:40px auto 0 auto;
	overflow:hidden;
}
#Pc #Main p.btn-type01,
#Pc #Main p.btn-type01 input,
#Pc #Main p.btn-type01 span,
#Pc #Main p.btn-type02,
#Pc #Main p.btn-type02 input,
#Pc #Main p.btn-type02 span{
	width:158px;
}
#Pc #Main .section div.btn p{
	float:left;
}
#Pc #Main .section div.btn p.btn-type02{
	/*margin-left:30px;*/
}


/*-----------------------------------------------------
Main -smp-
-------------------------------------------------------*/

/* form
---------------------*/
#Smp #Main .section form{
	padding:10px;
}

#Smp #Main .section div.input p span.label{
	display:block;
	font-weight:bold;
	margin-top:10px;
}

/* btn
---------------------*/
#Smp #Main .section p.btn-type01,
#Smp #Main .section p.btn-type01 input,
#Smp #Main .section p.btn-type01 span,
#Smp #Main .section p.btn-type02,
#Smp #Main .section p.btn-type02 input,
#Smp #Main .section p.btn-type02 span{
	width:100px;
}
#Smp #Main .section div.btn{
	width:230px;
	margin:20px auto 10px auto;
	overflow:hidden;
}
#Smp #Main .section div.btn.btn-one{
    width:110px;
}
#Smp #Main .section div.btn p{
	float:left;
	margin:0 5px;
}
