@charset "utf-8";

/*-----------------------------------------------------
Main -common-
-------------------------------------------------------*/

#Main .section .btn{
	overflow:hidden;
}
#Main .section .btn p{
	float:left;
	margin:0 10px;
}

#Main .detail-edit .input-usually {
    background:none !important;
}

#Main div.component{
	border: solid 1px #6996D4;
	border-radius: 1em;
	margin-bottom: 20px;
}
#Main div.component h3{
	background: #eaf1f7;
	padding: 20px;
	border-radius: 1em 1em 0 0;
	font-size: 126%;
}
#Main div.component .format {
	margin: 20px;
}
#Main div.component .format .radio-group{
	margin: 20px 0;
}
#Main div.component .format .radio-group label{
	margin: 0 10px 0 5px;
}
#Main div.component .area {
	margin: 20px;
}

#Main #app section {
	padding: 0 0 20px 0;
}
#Main #app section .img_box{
	width: 230px;
	display: inline-block;
	margin: 10px 0;
}
.format li ul{
	display: none;
}
.format li:hover ul{
	display: block;
}
.format{
	*zoom: 1;
	list-style-type: none;
	width: 960px;
	margin: 5px auto 30px;
	padding: 0;
}
.format:before, .format:after{
	content: "";
	display: table;
}
.format:after{
	clear: both;
}
.format li{
	position: relative;
	width: 17%;
	float: left;
	margin: 0;
	padding: 0 10px;
	text-align: center;
}
.format li a{
	display: block;
	margin: 0;
	padding: 15px 0 11px;
	background: #6996D4;
	color: #fff;
	font-size: 14px;
	line-height: 1;
	text-decoration: none;
}
.format li.active a{
	background: #012C67;
}
.format li ul{
	list-style: none;
	position: absolute;
	z-index: 9999;
	top: 100%;
	left: 0;
	margin: 0;
	padding: 0 20px 0 0;
}
.format li ul li{
	width: 100%;
}
.format li ul li a{
	padding: 13px 15px;
	border-top: 1px solid #6996D4;
	background: #6996D4;
	text-align: left;
}
.format li:hover > a{
	background: #93C9E4;
}
.format li a:hover{
	background: #93C9E4;
}


/*-----------------------------------------------------
Main -pc-
-------------------------------------------------------*/


/* head-line02
---------------------*/
#Pc #Main .section .head-line02{
	margin-top:10px;
}

/* alert
---------------------*/
#Pc #Main .section .alert{
	margin-bottom:25px;
}
#Pc #Main .section .alert p.fl{
	float:left;
	margin:0;
}
#Pc #Main .section .alert p.fr{
	float:right;
	margin:0;
}
#Pc #Main .section .alert .alert-close{
	float:right;
	text-indent:-9999px;
	height:16px;
	width:16px;
	display:block;
	margin-top:14px;
	background:url(../../images/common/btn_close.png) no-repeat 0 0;
}

/* form
---------------------*/
#Pc #Main .section form{
	margin-bottom:30px;
}
#Pc #Main .section dl{
	overflow:hidden;
	margin-bottom:30px;
	background:url(../../images/common/table_bg_border.gif) repeat-x 0 100%;
}
#Pc #Main .section dt{
	clear:both;
	float:left;
	width:180px;
	padding:12px 0 20px 0;
	font-weight:bold;
}
#Pc #Main .section dt span{
	font-size:92%;
	display:block;
	color:#999;
}
#Pc #Main .section span.require {
	display: inline;
	font-size:92%;
	color:#FF3222;
	font-weight: bold;
}

#Pc #Main .section dt span.req {
   color: #D26F6F;
}

#Pc #Main .section dd{
	float:left;
	width:auto;
	padding:10px 0 20px 0;
	width:750px;
}
#Pc #Main .section dd.detail{
	padding:12px 0 10px 0;
}
#Pc #Main .section dd.detail input{
	margin-right:3px;
}
#Pc #Main .section dd .ex{
	margin-top:10px;
}
#Pc #Main .section dd .date{
	width:180px;
}
#Pc #Main .section dd .text{
	width:690px;
}
#Pc #Main .section dd .text100{
	width:100px;
}
#Pc #Main .section dd .text400{
	width:400px;
}
#Pc #Main .section dd .textarea{
	width:690px;
	padding:3px 5px 3px 5px;
	height:80px;
}

#Pc #Main .section dd label{
	margin:0 18px 0 3px;
}
/* reset */
#Pc #Main .section div.reset{
	overflow:hidden;
	margin-top:10px;
}
#Pc #Main .section div.reset p.btn-type03{
	float:right;
	margin-right:45px;
	width:88px;
	height:28px;
}
#Pc #Main .section div.reset p.btn-type03 a{
	width:88px;
	height:28px;
	line-height:28px;
}
.recommd-size {
    display: inline-block;
    background-color: #e3f0d7;
    padding: 13px;
    border: 1px solid #5e884a;
    margin: 12px 0;
}

/* Modal
---------------------*/

/* btn-type01
   btn-type02
---------------------*/
#Modal #box-clear .btn{
	width:350px !important;
	margin:40px auto 0 auto;
	overflow:hidden;
}
#Modal .box div.btn p{
	float:left;
}
#Modal .box div.btn p.btn-type02{
	margin-left:30px;
}


/* btn-type01
   btn-type02
---------------------*/
#Pc #Main .section .btn{
	margin:40px auto 0 auto;
	width:540px;
}
#Pc #Main .section .btn.ownedmedia{
	width:612px;
}
#Pc #Main .section .btn.btn-backlist{
	margin:25px auto 20px auto;
	width:540px;
        text-align:center;
}
#Pc #Main p.btn-type01,
#Pc #Main p.btn-type01 input,
#Pc #Main p.btn-type01 span,
#Pc #Modal p.btn-type01,
#Pc #Modal p.btn-type01 input,
#Pc #Modal p.btn-type01 span,
#Pc #Main p.btn-type02,
#Pc #Modal p.btn-type02,
#Pc #Main p.btn-type02 span,
#Pc #Main p.btn-type02 input,
#Pc #Modal p.btn-type02 span,
#Pc #Modal p.btn-type02 input{
	width:158px !important;
}

#Pc #Main p.ownedmedia.btn-type01,
#Pc #Main p.ownedmedia.btn-type01 input,
#Pc #Main p.ownedmedia.btn-type01 span,
#Pc #Modal p.ownedmedia.btn-type01,
#Pc #Modal p.ownedmedia.btn-type01 input,
#Pc #Modal p.ownedmedia.btn-type01 span,
#Pc #Main p.ownedmedia.btn-type02,
#Pc #Modal p.ownedmedia.btn-type02,
#Pc #Main p.ownedmedia.btn-type02 span,
#Pc #Main p.ownedmedia.btn-type02 input,
#Pc #Modal p.ownedmedia.btn-type02 span,
#Pc #Modal p.ownedmedia.btn-type02 input{
	width:130px !important;
}

.emergency-btn{
	font-size: 97% !important;
	border: 1px solid #f25d3c !important;
	background-color: #f25d3c !important;
	background-image: url(../svg4ie9.php?t=f26748&b=f7521f) !important;
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#f26748),to(#f7521f)) !important;
	background-image: -webkit-linear-gradient(top,#f26748,#f7521f) !important;
	background-image: -moz-linear-gradient(top,#f26748,#f7521f) !important;
	background-image: -ms-linear-gradient(top,#f26748,#f7521f) !important;
	background-image: -o-linear-gradient(top,#f26748,#f7521f) !important;
	-pie-background: linear-gradient(top,#f26748,#f7521f) !important;
	font-weight: bold;
}

#Main p.btn-type01.emergency, #Modal p.btn-type01.emergency{
	background: #f9502a;
}

#Main p.btn-type01.hover.emergency .emergency-btn
{
	background-color:#f26748 !important;
	background-image:url("../svg4ie9.php?t=f7521f&b=f26748") !important;
	background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#f7521f),to(#f26748)) !important;
	background-image:-webkit-linear-gradient(top,#f7521f,#f26748) !important;
	background-image:-moz-linear-gradient(top,#f7521f,#f26748) !important;
	background-image:-ms-linear-gradient(top,#f7521f,#f26748) !important;
	background-image:-o-linear-gradient(top,#f7521f,#f26748) !important;
	-pie-background:linear-gradient(top,#f7521f,#f26748) !important;
}


/** image select area */
#Pc #Main .section .btn.img_area {
    margin:0;
}
#Pc #Main p.btn-type01.img_btn,
#Pc #Main p.btn-type01.img_btn input,
#Pc #Main p.btn-type02.img_delete_btn,
#Pc #Main p.btn-type02.img_delete_btn input {
    width:90px !important;
    height:28px !important;
    font-size:97%;
    margin-left:0;
}
#Pc #Main .section .img_preview {
    margin:10px 0 0 0;
}
#Pc #Main .section .img_preview img {
    padding:5px;
    border:3px solid #EEE;
}

#Pc #Main .box_add {
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #f0f7ff;
    display: inline;
}
#Pc #Main .box_add span {
    margin: 0; 
    padding: 0;
}

#Pc #Main .add_text {
	display:inline-block;
}

/*-----------------------------------------------------
Main -smp-
-------------------------------------------------------*/


#Smp #Main .section dl{
	margin:0 10px 15px;
}
#Smp #Main .section dt{
	font-weight:bold;
	margin-top:20px;
}
#Smp #Main .section dt span{
	font-size:92%;
	color:#999;
}
#Smp #Main .section .ex{
	font-size:84%;
	margin-top:5px;
}
#Smp #Main .section .btn{
	margin:25px auto 20px auto;
	width:245px;
}
#Smp #Main .section .btn.btn-backlist{
	margin:25px auto 20px auto;
	width:115px;
}
#Smp #Main .section .btn p{
	margin:0 10px;
	width:100px;
}
#Smp #Main .section .btn p span{
	width:100px;
}

/** image select area */
#Smp #Main .section .btn.img_area {
    margin:0;
}
#Smp #Main p.btn-type01.img_btn,
#Smp #Main p.btn-type01.img_btn input,
#Smp #Main p.btn-type02.img_delete_btn,
#Smp #Main p.btn-type02.img_delete_btn input {
    width:90px !important;
    height:28px !important;
    font-size:97%;
    margin-left:0;
}
#Smp #Main .section .img_preview {
    margin:10px 0 0 0;
}
#Smp #Main .section .img_preview img {
    padding:5px;
    border:3px solid #EEE;
}


#Smp #Main .section input[type=text],
#Smp #Main .section textarea{
	width:95%;
}
#Smp #Main .section textarea{
	height:80px;
}
#Smp #Main .section dd label{
	margin:0 18px 0 3px;
}

/* reset */
#Smp #Main .section div.reset{
	overflow:hidden;
	margin-top:5px;
}
#Smp #Main .section div.reset p.btn-type03{
	float:right;
	margin-right:16px;
	width:78px;
	height:28px;
}
#Smp #Main .section div.reset p.btn-type03 a{
	width:78px;
	height:28px;
	line-height:28px;
}
ul.tag_list li {
	float:left;
	width:32%;
	margin: 0 0 15px 0;
}

ul.tag_list li select {
	width:80%;
}

ul.tag_list li span.delete {
	visibility: hidden;
}

.button {
	display: inline-block;
	padding: 2px 10px;
	margin-bottom: 0;
	font-size: 14px;
	color: #313131;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	cursor: pointer;
	background-color: #e7e7e7;;
	border: 1px solid #cccccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#tag-add-button {
	background-color: #e7e7e7;
	margin-bottom: 10px;
}

/* recommend area */
li.recommend-item-sec{
	border-bottom: solid 1px #ddd;
	width: 600px;
	padding: 16px 0;
}
li.recommend-item-sec:last-child{
	width: auto;
	overflow: hidden;
	margin-bottom: 30px;
	background: url(../../images/common/table_bg_border.gif) repeat-x 0 100%;
}
li.recommend-item-sec div span{
	margin-right: 30px;
	width: 100px;
	display: inline-block;
	height: auto;
}
.is_advertise_alert{
	padding-left: 130px;
	font-size: 11px;
	color: red;
	margin-top: 4px;
	font-weight: bold;
}