<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>オルラボ｜自分らしく楽しめる暮らしのメディア</title>
  <meta name="description" content="自分らしく楽しめる暮らしを発見できる、オールハウスのオルラボ。住まいと暮らしのヒントになる情報を発信しています。">

  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:description" content="">
  <meta name="twitter:card" content="summary">

  <link rel="amphtml" href="https://orulab.allhouse.co.jp/detail/123/amp/"><!-- AMPのurlを設定してください -->

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include('/gtm-head') %>

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/detail/style.css">
</head>

<body class="page-house"><!-- グロナビアクティブ用にクラスを設定 -->

  <%- include('/gtm-body') %>

  <div class="l-page">

    <!--#include virtual="/assets/includes/header.inc"-->

    <div class="l-content">
      <main class="l-main">
        <article class="article">
          <div class="article__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt=""></div>
          <header class="article__header">
            <p class="date">2020.04.10</p>
            <h1 class="title">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</h1>
            <div class="grid">
              <p class="category">建てる</p>
              <div class="share">
                <h2 class="share__title">シェア</h2>
                <p class="button"><a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:3000/house/detail.amp.html" target="_blank"><img src="/assets/images/pages/detail/share_facebook.png" alt="" width="25" height="25"></a></p>
                <p class="button"><a href="https://twitter.com/intent/tweet?url=http://localhost:3000/house/detail.amp.html" target="_blank"><img src="/assets/images/pages/detail/share_twitter.png" alt="" width="25" height="25"></a></p>
                <p class="button"><a href="https://social-plugins.line.me/lineit/share?url=http://localhost:3000/house/detail.amp.html" target="_blank"><img src="/assets/images/pages/detail/share_line.png" alt="" width="25" height="25"></a></p>
                <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Forulab.allhouse.co.jp%2F&width=90&layout=button&action=like&size=small&share=false&height=65&appId" width="80" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
              </div>
            </div>
            <div class="keyword">
              <h2 class="keyword__title"><img src="/assets/images/pages/detail/keyword_title.svg" alt="" width="122.5" height="22.5"></h2>
              <ul class="tag-list">
                <li class="tag-list__item"><a href="#">#ダミーテキスト</a></li>
                <li class="tag-list__item"><a href="#">#ダミー</a></li>
                <li class="tag-list__item"><a href="#">#テキスト</a></li>
                <li class="tag-list__item"><a href="#">#ダミー</a></li>
                <li class="tag-list__item"><a href="#">#テキスト</a></li>
                <li class="tag-list__item"><a href="#">#ダミー</a></li>
                <li class="tag-list__item"><a href="#">#テキスト</a></li>
              </ul>
            </div>
          </header>
          <section class="section">
            <div class="section__inner">
              <h2 class="heading1">見出しタイトルが入ります</h2>
              <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。</p>
            </div>
            <div class="image"><img src="/assets/images/pages/dummy/dummy02.jpg" alt=""></div>
          </section>
          <section class="section section--grid">
            <div class="section__inner">
              <h2 class="heading2">見出しタイトルが入ります</h2>
              <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。</p>
            </div>
            <div class="image"><img src="/assets/images/pages/dummy/dummy03.jpg" alt=""></div>
          </section>
          <section class="section section--grid-reverse">
            <div class="section__inner">
              <h2 class="heading2">見出しタイトルが入ります</h2>
              <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。</p>
            </div>
            <div class="image"><img src="/assets/images/pages/dummy/dummy03.jpg" alt=""></div>
          </section>

          <h2 class="heading3">見出しタイトルが入ります</h2>

          <p class="text">この文章はダミーです。<strong>文字の大きさ、量、字間、行間などを確認するために入れています。</strong>この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。</p>

          <div class="related related--house">
            <a href="#" class="related__inner">
              <div class="related__label">関連記事</div>
              <div class="related__image" style="background-image: url(/assets/images/pages/dummy/dummy01.jpg);"></div>
              <div class="related__content">
                <p class="title">この文章はダミーです。任意売却ができるタイミングはいつから？タイムリミットにも要注意!</p>
                <p class="text">この文章はダミーです。ローンの支払いを滞納し所有する不動産が差押えを受けた場合、金融機関の同意を得れば競売と並行して ...</p>
              </div>
            </a>
          </div>

          <h2 class="heading4">見出しタイトルが入ります</h2>

          <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間などを確認するために入れています。</p>

          <div class="share">
            <h2 class="share__title">シェア</h2>
            <p class="button"><a href="#"><img src="/assets/images/pages/detail/share_facebook.png" alt="" width="25" height="25"></a></p>
            <p class="button"><a href="#"><img src="/assets/images/pages/detail/share_twitter.png" alt="" width="25" height="25"></a></p>
            <p class="button"><a href="#"><img src="/assets/images/pages/detail/share_line.png" alt="" width="25" height="25"></a></p>
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Forulab.allhouse.co.jp%2F&width=90&layout=button&action=like&size=small&share=false&height=65&appId" width="80" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
          </div>
        </article>

        <div class="article-pager">
          <p class="article-pager__prev"><a href="#"><img src="/assets/images/pages/detail/pager_prev.svg" alt="" width="51" height="9"></a></p>
          <p class="article-pager__list"><a href="/house/"><img src="/assets/images/pages/detail/pager_list.svg" alt="" width="116.5" height="10"></a></p>
          <p class="article-pager__next"><a href="#"><img src="/assets/images/pages/detail/pager_next.svg" alt="" width="50" height="9"></a></p>
        </div>

        <section class="related-articles">
          <h2 class="related-articles__heading">関連記事</h2>
          <ul class="l-grid">
            <li class="l-grid__item">
              <a href="#" class="c-article-card c-article-card--house">
                <p class="c-article-card__category">建てる</p>
                <div class="c-article-card__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt="" data-object-fit></div>
                <div class="c-article-card__content">
                  <p class="date">2020.04.10</p>
                  <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認</p>
                </div>
              </a>
            </li>
            <li class="l-grid__item">
              <a href="#" class="c-article-card c-article-card--house">
                <p class="c-article-card__category">建てる</p>
                <div class="c-article-card__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt="" data-object-fit></div>
                <div class="c-article-card__content">
                  <p class="date">2020.04.10</p>
                  <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認</p>
                </div>
              </a>
            </li>
            <li class="l-grid__item">
              <a href="#" class="c-article-card c-article-card--house">
                <p class="c-article-card__category">建てる</p>
                <div class="c-article-card__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt="" data-object-fit></div>
                <div class="c-article-card__content">
                  <p class="date">2020.04.10</p>
                  <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認</p>
                </div>
              </a>
            </li>
            <li class="l-grid__item">
              <a href="#" class="c-article-card c-article-card--house">
                <p class="c-article-card__category">建てる</p>
                <div class="c-article-card__image"><img src="/assets/images/pages/dummy/dummy01.jpg" alt="" data-object-fit></div>
                <div class="c-article-card__content">
                  <p class="date">2020.04.10</p>
                  <p class="text">この文章はダミーです。文字の大きさ、量、字間、行間等を確認</p>
                </div>
              </a>
            </li>
          </ul>
        </section>

        <div class="banner">
          <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6194676272576947" data-ad-slot="3373010865" data-ad-format="auto" data-full-width-responsive="true"></ins>
          <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
      </main><!-- .l-main -->

      <!--#include virtual="/assets/includes/side.inc"-->
    </div><!-- .l-content -->

    <div class="c-bread-crumbs">
      <ul class="bread-crumbs-list">
        <li class="bread-crumbs-list__item"><a href="/">TOP</a></li>
        <li class="bread-crumbs-list__item"><a href="/house/">建てる</a></li>
        <li class="bread-crumbs-list__item">ページタイトル</li>
      </ul>
    </div>

    <!--#include virtual="/assets/includes/footer.inc"-->

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>

</body>

</html>
