@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
#Main{
	width:840px;
	margin:0;
	padding:0 45px;
	float:none;
	display:block;
}
/* h2
---------------------*/
#Main h2{
	margin:0 0 20px;
}
/* ul
---------------------*/
#Main div.toc{
	width:840px;
	background:url(../images/index/list_bg_blue_loop.gif) 0 0;
}
#Main div.toc div.toc-inline{
	width:840px;
	padding:5px 0 0;
	background:url(../images/index/list_bg_blue_top.gif) no-repeat 0 0;
}
#Main div.toc ul{
	width:840px;
	padding:0 0 5px;
	background:url(../images/index/list_bg_blue_btm.gif) no-repeat 0 100%;
}
#Main div.toc ul li{
	padding:15px 0 16px 18px;
	font-size:116%;
	background:url(../images/common/content_bg_dotted_blue.gif) repeat-x 0 100%;
}
#Main div.toc ul li.odd{
	background:url(../images/index/list_bg_white.gif) no-repeat 0 100%;
}
#Main div.toc ul li.last{
	background:none;
	padding:15px 0 13px 18px;
}
#Main div.toc ul li a{
	padding:0 10px 0 30px;
	background:url(../images/common/content_ico_arw.gif) no-repeat 0 0;
}
#Main div.toc ul li span{
	font-size:74%;
}
#Main div.toc ul li span a{
	padding:0;
	background:none;
	letter-spacing:0;
}