@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
#Main p.lead{
	padding-bottom:30px;
}
/* .capture
---------------------*/
#Main div.capture01 li.popup01{
	width:75px;
	top:167px;
	left:133px;
}
#Main div.capture02 li.popup01{
	width:120px;
	top:22px;
	left:200px;
}