@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
#Main{
}
/* capture
---------------------*/
#Main div.capture li.popup01{
	width:134px;
	top:65px;
	left:327px;
}
#Main div.capture li.popup02{
	width:134px;
	top:123px;
	left:473px;
}
#Main div.capture li.popup03{
	width:177px;
	top:381px;
	left:125px;
}