@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
/* .capture
---------------------*/
#Main div.capture li.popup01{
	width:238px;
	top:99px;
	left:162px;
}
#Main div.capture li.popup02{
	width:356px;
	top:665px;
	left:157px;
}