@charset "utf-8";


/*-------------------------------------
Main
---------------------------------------*/
#Main p.att{
	padding:0 20px;
	font-size:100%;
}
/* capture
---------------------*/
#Main div.capture li.popup01{
	width:262px;
	top:218px;
	left:341px;
}
#Main div.capture li.popup02{
	width:75px;
	bottom:48px;
	left:253px;
}
#Main div.capture li.popup03{
	width:178px;
	bottom:46px;
	left:361px;
}